
@keyframes lineInserted {
    from {
        height: 0;
    }

    to {
        height: 2.5em;
    }
}


// Animation in darl background

@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


// Animation in cart preview

@keyframes opendrawer {
    to {
        right: 0px;
    }
}


//Animation in toasts

@keyframes slideIn {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(80px);
        opacity: 0;
    }
}
