/* COLORS */

$white:            #fff;
$lightno:          #f0f7f7;
$lightnw:          #dfeeee;
$lightgrey:        #cecdcd;
$grey:             #8b8b8b;
$darkgrey:         #4e4e4e;
$black:            #000;
$lightblack:       #0e0e0e;
$blacktransparent: hsla(0, 0%, 0%, 0.8);
$shadow:           hsla(0, 0%, 0%, 0.3);
$lightShadow:      hsla(0, 0%, 0%, 0.2);
$softred:          #ffa4a4;
$lightred:         #ff0000;
$red:              #be0000;
$darkred:          #810000;
$yellow:           #f9bb10;
$cyan:             #00b2eb;
$lightblue:        #0070C1;
$darkblue:         #004173;
$violet:           #6f00ff;
$softgreen:        #b6ffba;
$lightgreen:       #26d466;
$green:            #1fad53;
