.hamburger-button {
    display: block;
    cursor: pointer;
    width: 2em;
    height: 2em;
    position: relative;
    border-radius: .2em;

    @media (hover: hover) {
        &:hover {
            background-color: #004173;
        }
    }

    &__top-bread {
        display: block;
        position: absolute;
        width: 80%;
        height: 10%;
        top: 20%;
        left: 10%;
        background-color: #eee;
    }

    &__meat {
        position: absolute;
        left: 10%;
        top: 50%;
        display: block;
        width: 80%;
        height: 10%;
        transform: translateY(-50%);
        background-color: #eee;
    }

    &__bottom-bread {
        position: absolute;
        left: 10%;
        bottom: 20%;
        display: block;
        width: 80%;
        height: 10%;
        background-color: #eee;
    }

}