.main-footer {
    width: 100%;
    background-color: #0e0e0e;
    clear: left;

    &__wrapper {
        max-width: 1600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: column;
        }
    }

    & .footer-info {
        color: #dadada;
        text-align: center;
        padding: 1px 0;
        font-size: .8em;
        background-color: #000000;

        & p {
            & a {
                color: #858585;
                text-decoration: none;
            }

            & a:hover {
                color: #dadada;
            }
        }
    }
}

.footer-row-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
    }


    .footer-column-container {

        width: 100%;
        height: 100%;
        color: #ffffff;
        align-items: center;
        text-align: center;

        @media (min-width: 768px) {
            width: 33%;
            padding-top: 1em;
            padding-bottom: 2em;
            text-align: left;
        }

        & img {
            padding-top: 2em;
            width: 200px;
            cursor: pointer;

            @media (min-width: 768px) {
                padding-top: 1em;
            }
        }

        & ul {
            list-style-type: none;
            line-height: 2em;

            @media (min-width: 768px) {

                line-height: 1.1em;
            }
        }

        &__item {

            & a {
                text-decoration: none;
            }

            & a:visited {
                color: #ffffff;
            }

            & a:hover {
                color: #b3b3b3;
            }

        }

        &__item &__item &__list,
        & .store-info {
            padding: 0;


        }

        & .store-info {


            & a {
                color: #ffffff;
                text-decoration: none;
            }

            & a:visited {
                color: #ffffff;
            }

            a:hover {
                color: #b3b3b3;
            }
        }
    }

}