.main-nav-toggle {
    display: none;
}

.main-nav-toggle:checked ~ .main-header .main-header__wrapper__main-nav-container {
    display: block;
    flex-direction: column;
    position: fixed;
    top: 60px;
    justify-content: center;
    background-color:  #00B2EB;
    width: 100%;
}
