@use '../abstracts/variables' as color;

.main-footer {
    width: 100%;
    background-color: color.$black;
    clear: left;

    &__wrapper {
        max-width: 1600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: column;
        }
    }

    & .footer-info {
        color: color.$lightgrey;
        text-align: center;
        padding: 1px 0;
        font-size: .8em;
        background-color: color.$black;

        & p {
            & a {
                color: color.$darkgrey;
                text-decoration: none;
            }

            @media (hover: hover) {
                & a:hover {
                    color: color.$lightgrey;
                }
            }
        }
    }
}

.footer-row-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        padding-left: .6em;
        padding-right: 2em;
    }

    .footer-column-container {

        width: 100%;
        height: 100%;
        color: color.$white;
        align-items: center;
        text-align: center;
        padding-left: 1em;

        @media (min-width: 768px) {
            width: 33%;
            padding-top: 1em;
            padding-bottom: 2em;
            text-align: left;
        }

        & img {
            padding-top: 2em;
            width: 200px;
            cursor: pointer;

            @media (min-width: 768px) {
                padding-top: 1em;
            }
        }

        & ul {
            list-style-type: none;
            line-height: 2em;
            list-style-position: inside;
            margin: 0;
            padding: 0;

            @media (min-width: 768px) {
                line-height: 1.1em;
                padding-left: 2em;
            }
        }

        &__item {

            & a {
                text-decoration: none;
                color: color.$white;
            }

            & a:visited {
                color: color.$white;
            }

            & a:hover {
                color: color.$lightgrey;
            }

            & a:active {
                color: color.$darkgrey;
            }
        }

        &__item &__item &__list,

        & .store-info {
            padding: 0;
        }

        & .store-info {

            & a {
                color: color.$white;
                text-decoration: none;
            }

            & a:visited {
                color: color.$white;
            }

            & a:hover {
                color: color.$lightgrey;
            }

            & a:active {
                color: color.$darkgrey;
            }
        }
    }
}