@use '../abstracts/variables' as color;

.main-nav {

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        @media (min-width: 900px) {
            flex-direction: row;
        }
    }

    &__item {
        text-align: center;
    }

    &__link {
        display: block;
        width: 100%;
        padding: 1em .7em;
        color: color.$white;
        font-size: 1.2em;
        text-decoration: none;
    }

    &__link:hover{

        @media (min-width: 768px) {
            color: color.$darkblue;
        }
    }
}