@use '../abstracts/variables' as color;

.main-content {
    width: 100%;
    display: inline-block;
    margin-top: 60px;
    margin: 0 auto;

    &__title {
        text-align: center;
        margin: 0 auto;
        padding: 0;
        margin-top: 8em;
    }

    &__wrapper {
        max-width: 1600px;
        background-color: color.$white;
        /* BG  */
        margin: 0 auto;
        padding: 20px;

        & .promo-wall {

            &__categories {
                display: flex;
                flex-direction: column;
                gap: 1em;

                @media (min-width: 768px) {
                    max-width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1em;
                    //aspect-ratio: 2 / 1;
                }

                & img {
                    width: 103%;
                    height: 103%;
                    object-fit: cover;
                    cursor: pointer;
                    transition: transform .4s;
                    aspect-ratio: 2 / 1;

                    @media (min-width: 768px) {
                        aspect-ratio: unset;
                    }
                }
            }

            &__img {
                overflow: hidden;
                position: relative;
                
                @media (hover: hover) {
                    & img:hover {
                        transform: scale(1.3);
                        transform-origin: 50% 50%;
                    }
                }
            }

            &__img:nth-child(1) {
                grid-column-start: span 2;
            }

            &__img:nth-child(4) {
                grid-column-start: span 2;
            }

            @media (min-width: 768px) {
                &__img:nth-child(6) {
                    aspect-ratio: 1/1;
                }
            }

            &__header {
                text-align: center;
                margin-top: 3em;
            }
        }
    }


}

.main-content__wrapper {
    max-width: 1600px;
    background-color: color.$white;
    /* BG  */
    margin: 0 auto;
    padding: 20px;
}