@use '../abstracts/variables' as color;
@use '../abstracts/mixins' as mixin;

.product-full-view {
    border: solid 1px red;
    display: flex;
    flex-direction: row;

    &__row {
        border: solid 3px rgb(173, 184, 26);
        background-color: red;
        width: 100%;
    }

    &__gallery {
        display: flex;
        flex-direction: row;

        & .img-select {
            &__img-container {
                border: solid 3px red;
                height: 100px;
                width: 100px;
                overflow: hidden;
                padding: 8px;
                position: relative;
                transition: all 0.3s ease;
                opacity: 0.8;

                & img {
                    height: 95%;
                    cursor: pointer;
                    display: block;
                    object-fit: contain;
                    margin: 0 auto;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &__img-container:hover {
                opacity: 1;
            }
        }

        & .img-display {

            &__img-showcase {
                width: 350px;
                height: 500px;
                position: relative;
                overflow: hidden;
                border: solid 3px blue;

                & img {
                    height: 100%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    border: solid 3px red;
                }
            }
        }
    }

    &__detail {
        border: solid;
        padding: 1em;
    }

    &__brand {
        color: color.$darkblue;
    }

    &__heading {
        font-weight: 800;
    }

    &__description {
        font-weight: 600;
    }

    &__long-description {}

    &__age {}

    &__age-number {}

    &__price-currency {
        font-size: 2em;
        font-weight: 500;
    }

    &__price-and-discount-order {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__price-value {}

    &__discount { 
        background-color: color.$yellow;
        padding: .5em;
        border-radius: 1em;
        font-size: .8em;
        font-weight: 600;
        margin-left: .5em;
    }

    &__discount--percent {}

    &__latest-price-currency {
        display: block;
        text-decoration: line-through;
        color: color.$grey;
    }

    &__latest-price {}

    &__qty-and-buy-container {
        display: flex;
        align-items: center;

    }

    &__qty-selector {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: .7em;
    }

    &__qty {
        width: 3em;
        border-radius: 5px;
        border: 1px solid color.$grey;
        text-align: center;
    }

    &__qty-button-plus,
    &__qty-button-minus {
        color: color.$black;
        background-color: color.$lightgrey;
        width: 2em;
        font-weight: 600;
        height: 2em;
        line-height: 2em;
        border-radius: 5px;
        text-align: center;
        margin: 0 .2em;
        cursor: pointer;
    }

    @media (hover: hover) {

        &__qty-button-plus:hover,
        &__qty-button-minus:hover {

            background-color: color.$grey;

        }
    }

    &__link {
        @include mixin.red-button;
        width: 10em;
    }

    @media (hover: hover) {

        &__link:hover {
            @include mixin.red-button-hover;
        }
    }

    &__link:active {
        @include mixin.red-button-active;
    }

    &__extra-info {}

    @media (min-width: 900px) {}

    &__link:hover {

        @media (min-width: 768px) {}
    }
}