.vscode
node_modules
example.js
todo.txt
.~lock.Proyecto_Integrador_-_Jugueteria_Cosmica_-_Etapa_2_-_Consignas_cumplidas.xlsx#
Proyecto_Integrador_-_Jugueteria_Cosmica_-_Etapa_2_-_Consignas_cumplidas.xlsx