<div class="admin-panel">
    <aside class="admin-panel__navbar">
        <ul class="admin-panel__navbar__links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Compras</a></li>
            <li><a href="#">Configuración</a></li>
            <li><a href="#">Cerrar Sesión</a></li>
        </ul>
    </aside>
    <main class="admin-panel__content">
        <h2 class="admin-panel__content__greeting">Bienvenido, [Nombre de Usuario]</h2>
        <p class="admin-panel__content__message">Aquí encontrarás información importante sobre tu web.</p>
        <div class="admin-panel__content__divider">
            <div class="admin-panel__content__last-buys">
                <h2 class="admin-panel__content__title">Dashboard</h2>
                <div class="admin-panel__content__last-buys-container">

                </div>
            </div>
            <div class="admin-panel__content__tracker">
                <h2 class="admin-panel__content__title">Productos</h2>
                <div class="admin-panel__content__tracker-container">

                </div>
            </div>
        </div>
        <div class="admin-panel__content__divider">
            <div class="admin-panel__content__favs">
                <h2 class="admin-panel__content__title">Usuarios</h2>
                <div class="admin-panel__content__favs-container">

                </div>
            </div>

            <div class="admin-panel__content__messages">
                <h2 class="admin-panel__content__title">Ventas</h2>
                <div class="admin-panel__content__messages-container">

                </div>
            </div>
        </div>
        <div class="admin-panel__content__divider">
            <div class="admin-panel__content__account">
                <h2 class="admin-panel__content__title">Gestión de cuenta</h2>
                <div class="admin-panel__content__divider-container">

                </div>
            </div>
        </div>

        <div class="admin-panel__content__divider">
            <div class="admin-panel__content__returns">
                <h2 class="admin-panel__content__title">Mensajes</h2>
                <div class="admin-panel__content__returns-container">

                </div>
            </div>
            <div class="admin-panel__content__profile">
                <h2 class="admin-panel__content__title">Informacion de perfil</h2>
            </div>
        </div>

    </main>
    <footer class="admin-panel__footer"></footer>
</div>