<div class="admin-panel">
    <div class="admin-panel__navbar">
        <div class="admin-panel__navbar__logo-container">
            <img src="" alt="">
        </div>
        <div class="admin-panel__navbar__search-container">
            <input type="text" class="search-container">
        </div>
        <div class="admin-panel__navbar__profile-container">
            <span class="profile-container__username"></span>
            <img src="" alt="" class="profile-container__img">
        </div>
    </div>
    <div class="admin-panel__menu">
        
    </div>
    <div class="admin-panel__wrapper">
        <div class="admin-panel__menu-bar"></div>
        <div class="admin-panel_main-content"></div>
    </div>
    <div class="admin-panel__footer"></div>
</div>