<div class="main-content__title">
    <h1>Agregar un producto</h1>
</div>
<div class="main-content__wrapper">

    <section class="input-group">
        <form action="/api/products" autocomplete="off" id="form-add-products">
            <div class="main-content__divider-left">
                <div class="input-group__form-group">
                    <label class="input-group__label" for="productName">Nombre</label>
                    <input class="input-group__input" name="productName" id="productName" type="text" required autofocus>
                    <span class="input-group__error">ERROR! EL nombre debe tener entre 5 y 30 caracteres.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="price">Precio</label>
                    <input class="input-group__input" name="price" id="price" type="text" required>
                    <span class="input-group__error">ERROR!Ingrese números.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="vendor">Fabricante</label>
                    <input class="input-group__input" name="vendor" id="vendor" type="text">
                    <span class="input-group__error">ERROR! El fabricante debe tener entre 5 y 40 caracteres.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="stock">Stock</label>
                    <input class="input-group__input" name="stock" id="stock" type="text" required>
                    <span class="input-group__error">ERROR! Ingrese números.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="category">Categoría</label>
                    <input class="input-group__input" name="category" id="category" type="text">
                    <span class="input-group__error">ERROR! La categoría debe tener entre 5 y 50 caracteres.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="shortDescription" required>Descripción corta</label>
                    <input class="input-group__input" name="shortDescription" id="shortDescription" type="text">
                    <span class="input-group__error">ERROR! La descripción debe tener entre 5 y 80 caracteres.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="longDescription" required>Descripción larga.</label>
                    <textarea
                        class="input-group__textarea"
                        name="longDescription"
                        id="longDescription"
                        cols="30"
                        rows="10"
                    ></textarea>
                    <span class="input-group__error">ERROR! La descripción debe tener entre 5 y 2000 caracteres.</span>
                </div>

            </div>
            <div class="main-content__divider-right">
                <div class="input-group__form-group">
                    <input type="checkbox" id="freeShip" name="freeShip" class="input-group__check">
                    <label class="input-group__label" for="freeShip" id="label-checkbox">Envío sin cargo</label>
                    <span class="input-group__error">¿El envío es sin cargo?</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="ageFrom" required>Edad desde / hasta</label>
                    <input class="input-group__input" name="ageFrom" id="ageFrom" type="text">
                    <input class="input-group__input" name="ageTo" id="ageTo" type="text">
                    <span class="input-group__error">ERROR! Ingrese numeros de 0 a 99.</span>

                </div>
                <div class="input-group__form-group">
                    <input type="radio" id="ageMonth" name="ageMonth" class="input-group__radio">
                    <label for="ageMonth">Meses</label>
                    <input type="radio" id="ageYear" name="ageYear" class="input-group__radio">
                    <label for="ageYear">Años</label>
                    <span class="input-group__error">ERROR! Seleccione meses o años.</span>
                    <input type="hidden" value="" name="addedDate" id="addedDate">
                    <input type="hidden" value="" name="lastSell" id="lastSell">
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="images" required>Fotos</label>
                    <input type="file" id="images" name="images">
                    <span class="input-group__error">ERROR! Debe cargar al menos una imagen.</span>
                </div>
            </div>
            <div class="input-group__buttons">
                <button type="submit">Agregar</button>
                <button type="reset">Limpiar formulario</button>
            </div>
        </form>
    </section>
</div>
<script src="js/form.js"></script>