<div class="main-content__title">
    <h1>Agregar un producto</h1>
</div>
<div class="main-content__wrapper">

    <section class="input-group">
        <form action="/api/products" autocomplete="off" method="post" id="form-add-products">
            <div class="main-content__divider-left">
                <div class="input-group__form-group">
                    <label class="input-group__label" for="productName">Nombre</label>
                    <input class="input-group__input" name="productName" id="productName" type="text" required
                        autofocus>
                    <span class="input-group__error">ERROR! EL nombre debe tener entre 5 y 30 caracteres.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="price">Precio</label>
                    <input class="input-group__input" name="price" id="price" type="text" required>
                    <span class="input-group__error">ERROR!Ingrese números positivos.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="discountPercent">Porcentaje de descuento</label>
                    <input class="input-group__input" name="discountPercent" id="discountPercent" type="text" required>
                    <span class="input-group__error">ERROR! Ingrese números positivos.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="vendor">Fabricante</label>
                    <input class="input-group__input" name="vendor" id="vendor" type="text">
                    <span class="input-group__error">ERROR! El fabricante debe tener entre 5 y 40 caracteres.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="stock">Stock</label>
                    <input class="input-group__input" name="stock" id="stock" type="text" required>
                    <span class="input-group__error">ERROR! Ingrese números.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="category">Categoría</label>
                    <input class="input-group__input" name="category" id="category" type="text">
                    <span class="input-group__error">ERROR! La categoría debe tener entre 5 y 50 caracteres.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="colors" required>Colores principales</label>
                    <input class="input-group__input" name="colors" id="colors" type="text">
                    <span class="input-group__error">ERROR! Ingrese de 1 a 3 colores separados por comas.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="shortDescription" required>Descripción corta</label>
                    <input class="input-group__input" name="shortDescription" id="shortDescription" type="text">
                    <span class="input-group__error">ERROR! La descripción debe tener entre 5 y 80 caracteres.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="longDescription" required>Descripción larga.</label>
                    <textarea class="input-group__textarea" name="longDescription" id="longDescription" cols="30"
                        rows="10"></textarea>
                    <span class="input-group__error">ERROR! La descripción debe tener entre 5 y 2000 caracteres.</span>
                </div>

            </div>
            <div class="main-content__divider-right">
                <div class="input-group__form-group">
                    <input type="checkbox" id="freeShip" name="freeShip" value="false" class="input-group__check">
                    <label class="input-group__label" for="freeShip" id="label-checkbox">Envío sin cargo</label>
                    <span class="input-group__error">¿El envío es sin cargo?</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="ageFrom" required>Edad desde / hasta</label>
                    <input class="input-group__input" name="ageFrom" id="ageFrom" type="text">
                    <input class="input-group__input" name="ageTo" id="ageTo" type="text">
                    <span class="input-group__error">ERROR! Ingrese numeros de 0 a 99.</span>

                </div>
                <div class="input-group__form-group">
                    <input type="radio" id="ageMonth" value="0" name="ageSelect" class="input-group__radio">
                    <label for="ageMonth">Meses</label>
                    <input type="radio" id="ageYear" value="1" name="ageSelect" class="input-group__radio">
                    <label for="ageYear">Años</label>
                    <span class="input-group__error">ERROR! Seleccione meses o años.</span>
                    <input type="hidden" value="" name="addedDate" id="addedDate">
                    <input type="hidden" value="" name="lastSell" id="lastSell">
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="avatar">Foto de portada</label>
                    <input type="file" id="avatar" class="file-avatar" name="avatar"
                        accept="image/png, image/gif, image/jpeg" required>
                    <span class="input-group__error">ERROR! Debe cargar una imagen.</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="gallery">Fotos de galería</label>
                    <input type="file" id="gallery" class="file-gallery" name="gallery"
                        accept="image/png, image/gif, image/jpeg">
                    <span class="input-group__error">ERROR! Mínimo una imagen, máximo 3.</span>
                </div>
            </div>
            <div class="input-group__buttons">
                <button type="submit">Agregar</button>
                <button type="reset">Limpiar formulario</button>
            </div>
        </form>
    </section>

    <section>
        <div class="product-full-view">
            <div class="product-full-view__row">
                <div class="product-full-view__gallery">
                    <div class="img-select">

                        <div class="img-select__img-container">
                            <img class="img-select__avatar" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Product image">
                        </div>

                        <div class="img-select__img-container">

                            <img src="../img/products/61+cejJWJkL._cpt_.jpg" alt="Product image">

                        </div>
                        <div class="img-select__img-container">
                            <img src="../img/products/61Bl1tNZ1HL._cpt_.jpg" alt="Product image">

                        </div>
                        <div class="img-select__img-container">
                            <img src="../img/products/61ItCf+eWCL._cpt_.jpg" alt="Product image">
                        </div>

                    </div>
                    <div class="img-display">
                        <div class="img-display__img-showcase">

                            <img src="../img/products/61e7q+l8V4L._cpt_.jpg" class="img-display__img-big"
                                alt="Product image">

                        </div>
                    </div>

                </div>
            </div>
            <div class="product-full-view__detail">
                <h2 class="product-full-view__brand">Hot toys</h2>
                <h1 class="product-full-view__heading">CAPITAN AMERICA</h1>

                <p class="product-full-view__description">Figura de 12 cm del Capitán América</p>
                <p class="product-full-view__long-description"> Figura de acción coleccionable Avengers: Endgame escala
                    1/6 (2021). Aventúrate junto al Capitán América en sus aventuras con los Vengadores luchando contra
                    el mal. Embalaje: En caja Descripción: La figura coleccionable de alta precisión está diseñada por
                    expertos en función de la apariencia de Chris Evans como el Capitán América/Steve Rogers.</p>
                <p class="product-full-view__age">No apto para menores de <span
                        class="product-full-view__age-number">5</span> <span>años</span>.</p>
                <div class="product-full-view__price-and-discount-order">
                    <span class="product-full-view__price-currency">$<span
                            class="product-full-view__price-value">5000</span></span>
                    <span class="product-full-view__discount"><span
                            class="product-full-view__discount-percent">20</span>%
                        DTO</span>
                </div>
                <span class="product-full-view__latest-price-currency">$<span
                        class="product-full-view__latest-price">3000</span></span>
                <span class="product-full-view__stock">Stock <span class="product-full-view__stock-value">10</span> unidades.</span>

                <div class="product-full-view__qty-and-buy-container">
                    <div class="product-full-view__qty-selector">
                        <span class="product-full-view__qty-button-minus">-</span> <input type="text"
                            class="product-full-view__qty" value="1"> 
                            <span class="product-full-view__qty-button-plus">+</span>
                    </div>
                    <a href="#" class="product-full-view__link" data-id="63423cccac4d4479a9f17310">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="product-full-view__row">
            <div class="product-full-view__extra-info">


            </div>
        </div>
</div>
</section>

</div>
<script src="js/form.js"></script>