<div class="main-content__title">
    <h1 data-lang="checkout-title">Carrito</h1>
</div>
<div class="main-content__wrapper">

    <div class="checkout">
        <!-- <div class="checkout__pay"></div> -->
        <div class="checkout__cart">
            <h2 class="checkout__title" data-lang="checkout-products">Resumen del pedido</h2>
            <div class="checkout__products"></div>
            <div class="checkout__final-container">
                <span class="checkout__final-label" data-lang="checkout-total">Total:</span>
                <span class="checkout__final"></span>
            </div>
            <a href="#" class="cart-modal__footer__link-buy button-buy" data-lang="checkout-ckeckout">Finalizar compra!</a>
        </div>
    </div>
</div>

<div class="main-content__modal-thanks-container">
    <div class="main-content__modal-thanks">
        <div class="shipping-icon-container">
            <img class="shipping-icon" src="/img/shipping.png" data-alt="checkout-shipping-icon" alt="Shipping icon">
        </div>
        <p data-lang="checkout-thanks">¡Gracias por tu compra!</p>
        <p data-lang="checkout-shippping">Los productos están en camino...</p>
        <a href="#" data-lang="checkout-go-to-home">Ir al inicio</a>
    </div>
</div>