<div class="main-content__title">
    <h1>Carrito</h1>
</div>
<div class="main-content__wrapper">

    <div class="checkout">
        <!-- <div class="checkout__pay"></div> -->
        <div class="checkout__cart">
            <h2 class="checkout__title">Resumen del pedido</h2>
            <div class="checkout__products"></div>
            <div class="checkout__total-container">
                <span class="checkout__total-label">Total:</span>
                <span class="checkout__total">5000</span>
            </div>
            <a href="#" class="cart-modal__footer__link-buy button-buy">Finalizar compra!</a>
        </div>
    </div>
</div>