<div class="main-content__wrapper">
    <div class="forgot-pass-form">
        <div class="forgot-pass-form__heading">
            <h1 class="forgot-pass-form__heading__title"></h1>
        </div>
        <div class="forgot-pass-form__container">
            <div class="forgot-pass-form__container__formatter">
                <label for="user-account"></label>
                <input type="text" id="user-account" name="user-account" class="forgot-pass-form__container__user-account">
            </div>
            <div class="forgot-pass-form__container__formatter">
                <label for="user-password"></label>
                <input type="text" id="user-password" name="user-password" class="forgot-pass-form__container__user-password">
            </div>
        </div>
        <div class="forgot-pass-form__footer">
            <span class="forgot-pass-form__forgot-password"><a href="#">¿Olvidaste tu contraseña?</a></span>
            <span class="forgot-pass-form__register">No tenes cuenta. <a href="#">¿Deseas registrarte?</a></span>
        </div>
    </div>
</div>