<div class="main-slider">
    <img class="mySlides" src="img/hero-xmen.jpg" alt="Slide" />
    <img class="mySlides" src="img/hero-marvel.jpg" alt="Slide" />
    <img class="mySlides" src="img/hero-mandalorian.jpg" alt="Slide" />
</div>

<div class="main-content__wrapper">

    <section class="section-cards">
        <header class="section-cards__header">
            <h1>NUEVOS INGRESOS</h1>
            <p>Ingresaron nuevos productos a nuestra tienda.</p>
        </header>

        <div class="cards-container latest-products">
        </div>

        <footer class="section-cards__foter"></footer>
    </section>

    <section class="promo-wall">
        <header class="promo-wall__header">
            <h2>LOS MAS POPULARES</h2>
        </header>
        <div class="promo-wall__categories">
            <div class="promo-wall__img"><img src="img/p-avengers.jpg" alt="Poster promo figuras de Avengers" />
            </div>
            <div class="promo-wall__img"><img src="img/p-transformers.jpg" alt="Poster promo figuras de Transformers" /></div>
            <div class="promo-wall__img"><img src="img/p-lego.jpg" alt="Poster promo bricks Lego" /></div>
            <div class="promo-wall__img"><img src="img/p-jurassicpark.jpg" alt="Poster promo figuras de Jurassic World" /></div>
            <div class="promo-wall__img"><img src="img/p-barbie.jpg" alt="Poster promo figuras de Barbie" />
            </div>
            <div class="promo-wall__img"><img src="img/p-terminator.jpg" alt="Poster promo figuras de Terminator" /></div>
            <div class="promo-wall__img"><img src="img/p-hotwheels.jpg" alt="poster promo vehiculos de Hot Wheels" /></div>
        </div>
    </section>

    <section class="section-cards">
        <header class="section-cards__header">
            <h1>LOS MAS VENDIDOS</h1>
        </header>

        <div class="cards-container most-selled">
        </div>

        <footer class="section-cards__foter"></footer>
    </section>

    <section class="section-cards">
        <header class="section-cards__header">
            <h1>ULTIMOS VISITADOS</h1>
        </header>

        <div class="cards-container latest-viewed">
        </div>

        <footer class="section-cards__foter"></footer>
    </section>
<div class="end-of-home"></div>
</div>
