<div class="main-slider">
    <img class="mySlides" src="img/hero-xmen.jpg" alt="Slide" />
    <img class="mySlides" src="img/hero-marvel.jpg" alt="Slide" />
    <img class="mySlides" src="img/hero-mandalorian.jpg" alt="Slide" />
</div>

<div class="main-content__wrapper">

    <section class="section-cards">
        <header class="section-cards__header">
            <h1 data-lang="home-new-arrrivals">NUEVOS INGRESOS</h1>
            <p data-lang="home-new-arribals-sub">Ingresaron nuevos productos a nuestra tienda.</p>
        </header>
        <div class="section-cards__slider-container">
            <div class="cards-container latest-products">
            </div>
            <div class="arrows__prev"><i class="fa fa-chevron-circle-left fa-5x" aria-hidden="true"></i></div>
            <div class="arrows__next"><i class="fa fa-chevron-circle-right fa-5x" aria-hidden="true"></i></div>
        </div>
        <footer class="section-cards__foter"></footer>
    </section>

    <section class="promo-wall">
        <header class="promo-wall__header">
            <h1 data-lang="home-most-populars">LOS MAS POPULARES</h1>
        </header>
        <div class="promo-wall__categories">
            <div class="promo-wall__img"> <a href="/#/productos/marvel"><img src="img/p-avengers.jpg"
                        data-alt="home-poster-promo-avengers-alt" alt="Poster promo figuras de Avengers" /></a>
            </div>
            <div class="promo-wall__img"> <a href="/#/productos/transformers"><img src="img/p-transformers.jpg"
                        data-alt="home-poster-promo-transformers-alt" alt="Poster promo figuras de Transformers" /></a>
            </div>
            <div class="promo-wall__img"> <a href="/#/productos/lego"><img src="img/p-lego.jpg"
                        data-alt="home-poster-promo-lego-alt" alt="Poster promo bricks Lego" /></a>
            </div>
            <div class="promo-wall__img"> <a href="/#/productos/jurassic"><img src="img/p-jurassicpark.jpg"
                        data-alt="home-poster-promo-jurassic-world-alt"
                        alt="Poster promo figuras de Jurassic World" /></a>
            </div>
            <div class="promo-wall__img"> <a href="/#/productos/barbie"><img src="img/p-barbie.jpg"
                        data-alt="home-poster-promo-barbie-alt" alt="Poster promo figuras de Barbie" /></a>
            </div>
            <div class="promo-wall__img"> <a href="/#/productos/terminator"><img src="img/p-terminator.jpg"
                        data-alt="home-poster-promo-terminator-alt" alt="Poster promo figuras de Terminator" /></a>
            </div>
            <div class="promo-wall__img"> <a href="/#/productos/cars"><img src="img/p-hotwheels.jpg"
                        data-alt="home-poster-promo-hot-wheels-alt" alt="poster promo vehiculos de Hot Wheels" /></a>
            </div>
        </div>
    </section>

    <section class="section-cards">
        <header class="section-cards__header">
            <h1 data-lang="home-top-sellers">LOS MAS VENDIDOS</h1>
        </header>
        <div class="section-cards__slider-container">
            <div class="cards-container most-selled">
            </div>
            <div class="arrows__prev"><i class="fa fa-chevron-circle-left fa-5x" aria-hidden="true"></i></div>
            <div class="arrows__next"><i class="fa fa-chevron-circle-right fa-5x" aria-hidden="true"></i></div>
        </div>
        <footer class="section-cards__foter"></footer>
    </section>
</div>

<div class="separation-full-width">
    <a href="/#/productos/back">
        <h2 class="separation-full-width__inner-text" data-lang="home-bttf">Volvé al futuro con Marty y el Doc!!</h2>
    </a>
</div>

<div class="main-content__wrapper">
    <section class="section-cards">
        <header class="section-cards__header">
            <h1 data-lang="home-last-visited">ULTIMOS VISITADOS</h1>
        </header>
        <div class="section-cards__slider-container">
            <div class="cards-container latest-viewed">
            </div>
            <div class="arrows__prev"><i class="fa fa-chevron-circle-left fa-5x" aria-hidden="true"></i></div>
            <div class="arrows__next"><i class="fa fa-chevron-circle-right fa-5x" aria-hidden="true"></i></div>
        </div>
        <footer class="section-cards__foter"></footer>
    </section>
    <div class="end-of-home"></div>
</div>