<div class="main-content__wrapper">
    <div class="login-form">
        <div class="login-form__heading">
            <h1 class="login-form__heading__title"></h1>
        </div>
        <div class="login-form__container">
            <div class="login-form__container__formatter">
                <label for="user-account"></label>
                <input type="text" id="user-account" name="user-account" class="login-form__container__user-account">
            </div>
            <div class="login-form__container__formatter">
                <label for="user-password"></label>
                <input type="text" id="user-password" name="user-password" class="login-form__container__user-password">
            </div>
        </div>
        <div class="login-form__footer">
            <span class="login-form__forgot-password">¿Olvidaste tu contraseña?</span>
            <span class="login-form__register">No tenes cuenta. ¿Deseas registrarte?</span>
        </div>
    </div>
</div>