
<div class="main-content__title">
    <h1>Modificar productos</h1>
</div>
<div class="main-content__wrapper">

    <div class="products-table-container">
    <table class="table-products">

        <thead class="table-products__thead">
            <tr class="table-head">
                <th class="table-head__th" scope="column">Imagen</th>
                <th class="table-head__th" scope="column">Nombre</th>
                <th class="table-head__th" scope="column">Descripción</th>
                <th class="table-head__th" scope="column">Stock</th>
                <th class="table-head__th" scope="column">Precio</th>
                <th class="table-head__th" scope="column">Acciones</th>
            </tr>
        </thead>

        <tbody class="table-products__tbody">
            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price"><span> </span> 4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye btn-view" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil btn-edit" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash btn-delete" aria-hidden="true"></i></button>
                </td>
            </tr>

            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>



            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>

            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>

            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            
            <tr class="table-content" data-id="{{id}}">
                <td class="table-content__cell-image-container"><img  class="table-content__image" src="../img/products/61e7q+l8V4L._cpt_.jpg" alt="Foto de producto"></td>
                <td class="table-content__cell-name">Capitán América</td>
                <td class="table-content__cell-description">Figura de Capitán América de 12cm.</td>
                <td class="table-content__cell-stock">6</td>
                <td class="table-content__cell-price">4567</td>
                <td class="table-content__cell-buttons">
                    <button class="table-content__btn-view"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button class="table-content__btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="table-content__btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>


            
        </tbody>
        <tfoot  class="table-products__tfoot">
            <tr class="table-foot">
                <td class="table-foot_content" colspan="6">Se encontraron 5 productos</td>
            </tr>
        </tfoot>
    </table>
</div>

</div>