<div class="main-content__title">
    <h1 data-lang="us-title">Nuestra historia</h1>
</div>
<div class="main-content__wrapper nosotros">
    <div>
        <img src="img/map.jpg" class="img-store"  data-alt="us-paragraph1-alt" alt="Foto viajero" />
        <p class="parrafo" data-lang="us-paragraph-1">Tiene sus comienzos en el año 1945 cuando Carlos Santana desembarca de Italia y se instala en la cuidad de Buenos Aires con
            un pequeño comercio de producto de juguetes para niños. Luego de años de duro trabajo y esfuerzo dan sus resultados y el 1955 consigue su
            primer local comercial ubicado en una de las esquinas mas emblemáticas de Buenos Aires.</p>
    </div>

    <div>
        <p class="parrafo" data-lang="us-paragraph-2">Pasando los años se suman nuevas generaciones y son estas últimas las que producen el crecimiento de expansión de la firma
            a distintas localidades más importante del pais. Luego de 30 años de comercializar una amplia variedad de juguetes nos hemos decicido a
            especializarnos en coleccionables, tanto figuras como vehiculos y asi lograr una expansión a toda latinoamérica.</p>
        <img src="img/oldstore.jpg" class="img-store" data-alt="us-paragraph2-alt" alt="Foto viajero" />
    </div>

    <div>
        <img src="img/storefront01.png" class="img-store" data-alt="us-paragraph3-alt" alt="Foto de la tienda" />
        <p class="parrafo" data-lang="us-paragraph-3" >Adaptándonos a los tiempos que vienen y a los nuevos sistemas de ventas, estamos desarrollando nuestro departamento de
            Venta Online lo cual ampliaríamos nuestra oferta a todo el mundo. En la actualidad juguetería Cósmica comercializa todo los productos de
            firmas líderes en el mercado y estando siempre a la vanguardia para los nuevos lanzamientos de productos de coleccionables.
        </p>
    </div>
</div>