<div class="main-content__wrapper">
    <div class="reset-form">
        <div class="reset-form__heading">
            <h1 class="reset-form__heading__title" data-lang="reset-password-title">Resetear contraseña</h1>
        </div>
        <p data-lang="reset-password-text">Ingrese su nueva contraseña y haga click en enviar. La contraseña debe tener
            como mínimo 8 caracteres y debe contener letras y numeros.</p>
        <form action="/api/reset/token" autocomplete="off" method="post" id="form-reset">
            <div class="reset-form__container">
                <div class="input-group__form-group">
                    <label for="password" class="input-group__label" data-lang="reset-password-new-password">Nueva
                        contraseña</label>
                    <input type="password" id="password" name="password" class="input-group__input">
                    <span class="input-group__error" data-lang="reset-password-error-password">ERROR! Ingrese una contraseña válida.</span>
                </div>
                <div class="input-group__form-group">
                    <label for="repassword" class="input-group__label" data-lang="reset-password-re-password">Repetir
                        contraseña</label>
                    <input type="password" id="repassword" name="repassword" class="input-group__input">
                    <span class="input-group__error" data-lang="reset-password-re-password-error">ERROR! Las contraseñas
                        no coinciden.</span>
                </div>
            </div>
            <span class="input-group__error-form" data-lang="reset-password-invalid-token">ERROR! Token invalido o
                expirado!</span>
            <div class="input-group__buttons">
                <button type="submit" data-lang="reset-password-send">Enviar</button>
            </div>
        </form>
    </div>
</div>