<div class="main-content__title">
</div>
<div class="main-content__wrapper">
    <div class="full-product-page">
    </div>

    <section class="section-cards cards-full-product-view">
        <header class="section-cards__header">
            <h1 data-lang="product-more-of">PRODUCTOS RELACIONADOS</h1>
        </header>
        <div class="section-cards__slider-container">
            <div class="cards-container more-of-this-product">
            </div>
            <div class="arrows__prev"><i class="fa fa-chevron-circle-left fa-5x" aria-hidden="true"></i></div>
            <div class="arrows__next"><i class="fa fa-chevron-circle-right fa-5x" aria-hidden="true"></i></div>
        </div>
        <footer class="section-cards__foter"></footer>
    </section>
</div>