<div class="main-content__wrapper">
    <section class="section-all-products">
        <aside class="section-options">

            <h4>ORDENAR</h4>
            <form action="">
                <select name="orden" id="orden">
                    <option value="1">Ascendente</option>
                    <option value="2">Descendente</option>
                </select>
            </form>

            <h4>CATEGORIA</h4>
            <ul>
                <li><a href="#">Superheroes</a></li>
                <li><a href="#">Peliculas</a></li>
                <li><a href="#">Autos</a></li>
                <li><a href="#">Bricks</a></li>
            </ul>

            <H4>FABRICANTE</H4>
            <ul>
                <li><a href="#/productos/marvel">MARVEL</a></li>
                <li><a href="#/productos/hasbro">HASBRO</a></li>
                <li><a href="#/productos/mattel">MATTEL</a></li>
                <li><a href="#/productos/lego">LEGO</a></li>
            </ul>

            <H4>COLOR</H4>
            <ul>
                <li><a href="#">Rojo</a></li>
                <li><a href="#">Azul</a></li>
                <li><a href="#">Amarillo</a></li>
                <li><a href="#">Verde</a></li>
            </ul>

            <H4>PRECIO</H4>
            <ul>
                <li><a href="#">Hasta $5000</a></li>
                <li><a href="#">Hasta $10000</a></li>
                <li><a href="#">Hasta $15000</a></li>
                <li><a href="#">Mas de $15000</a></li>
            </ul>

            <H4>DESCUENTO</H4>
            <ul>
                <li><a href="#">Desde 50% OFF</a></li>
                <li><a href="#">Desde 40% OFF</a></li>
                <li><a href="#">Desde 30% OFF</a></li>
                <li><a href="#">Desde 20% OFF</a></li>
                <li><a href="#">Desde 10% OFF</a></li>
            </ul>

        </aside>

        <div class="section-products">
            <section class="section-cards">
                <header class="section-cards__header">
                    <h1>PRODUCTOS</h1>
                    <div class="section-tags">
                        <span>MARVEL</span>
                        <span>LEGO</span>
                        <span>AZUL</span>
                        <span>BARBIE</span>
                        <span>SPIDERMAN</span>
                        <span>TRANSFORMERS</span>
                        <span>HOT WHEELS</span>
                    </div>
                    <div class="section-qty">
                        <form action="">
                            <select name="rango-precio" id="rango-precio">
                                <option hidden disabled selected>Seleccione Cantidad</option>
                                <option value="1">10</option>
                                <option value="2">20</option>
                                <option value="2">30</option>
                                <option value="2">Todos</option>
                            </select>
                        </form>
                    </div>
                </header>

                <div class="section-cards__cards-container all-products">
                </div>
            </section>

        </div>
    </section>
<section>
    <div class="section-pages-container">
        <span class="pages-text">Pages</span><span class="pages-qty"></span>
    </div>
</section>
</div>
