<div class="main-content__wrapper">
    <section class="section-all-products">
        <aside class="section-options">

            <h4 data-lang="products-title-order">ORDENAR</h4>
            <form action="">
                <select name="orden" id="orden">
                    <option value="1" data-lang="products-ascending">Ascendente</option>
                    <option value="2" data-lang="products-descending">Descendente</option>
                </select>
            </form>

            <h4 data-lang="products-title-category">CATEGORIA</h4>
            <ul>
                <li><a href="#" data-lang="products-tag-superheros">Superheroes</a></li>
                <li><a href="#" data-lang="products-tag-movies">Peliculas</a></li>
                <li><a href="#" data-lang="products-tag-cars">Autos</a></li>
                <li><a href="#" data-lang="products-tag-bricks">Bricks</a></li>
            </ul>

            <H4 data-lang="products-title-vendor">FABRICANTE</H4>
            <ul>
                <li><a href="#/productos/marvel">MARVEL</a></li>
                <li><a href="#/productos/hasbro">HASBRO</a></li>
                <li><a href="#/productos/mattel">MATTEL</a></li>
                <li><a href="#/productos/lego">LEGO</a></li>
            </ul>

            <H4 data-lang="products-title-color">COLOR</H4>
            <ul>
                <li><a href="#" data-lang="products-color-red">Rojo</a></li>
                <li><a href="#" data-lang="products-color-blue">Azul</a></li>
                <li><a href="#" data-lang="products-color-Yellow">Amarillo</a></li>
                <li><a href="#" data-lang="products-color-green">Verde</a></li>
            </ul>
        </aside>

        <div class="section-products">
            <section class="section-cards">
                <header class="section-cards__header">
                    <h1 data-lang="products-title">PRODUCTOS</h1>
                    <div class="section-tags">
                        <span>MARVEL</span>
                        <span>LEGO</span>
                        <span>BARBIE</span>
                        <span>SPIDERMAN</span>
                        <span>TRANSFORMERS</span>
                        <span>HOT WHEELS</span>
                    </div>
                    <div class="section-qty">
                        <form action="">
                            <select name="quantity-per-page" id="quantity-per-page">
                                <option hidden disabled selected data-lang="products-option-select-qty" class="select-qty">Seleccione Cantidad</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </form>
                    </div>
                </header>

                <div class="section-cards__cards-container all-products">
                </div>
            </section>

        </div>
    </section>
<section>
    <div class="section-pages-container">
        <span class="pages-text"  data-lang="products-pages">Pages</span><span class="pages-qty"></span>
    </div>
</section>
</div>
