<div class="main-content__wrapper">
    <div class="reset-form">
        <div class="reset-form__heading">
            <h1 class="reset-form__heading__title">Reestablecer contraseña</h1>
        </div>
        <form action="/api/reset/token" autocomplete="off" method="post" id="form-reset">
        <div class="reset-form__container">
            <p>Ingrese su e-mail y, en caso de que exista en la base de datos, le enviaremos un email con las instrucciones para reestablecer su contraseña.</p>
            <div class="input-group__form-group">
                <label for="email" class="input-group__label">Email</label>
                <input type="text" id="email" name="email" class="input-group__input">
                <span class="input-group__error">ERROR! Ingrese un email válido.</span>
            </div>
        </div>
        <span class="input-group__error-form">Error! Verifique los campos marcados!</span>
        <div class="input-group__buttons">
            <button type="submit" data-lang="reset-password-send">Enviar</button>
        </div>
    </form>
    </div>
</div>
