<div class="main-content__wrapper">
    <div class="reset-form">
        <div class="reset-form__heading">
            <h1 class="reset-form__heading__title" data-lang="reset-password-title">Resetear contraseña</h1>
        </div>
        <div class="reset-form__container">
            <div class="input-group__form-group">
                <label for="user-account" class="input-group__label" data-lang="reset-password-new-password">Nueva contraseña</label>
                <input type="text" id="user-account" name="user-account" class="input-group__input">
                <span class="input-group__error" data-lang="reset-password-error-password">ERROR! Ingrese una contraseña válida.</span>
            </div>
            <div class="input-group__form-group">
                <label for="user-account" class="input-group__label" data-lang="reset-password-re-password">Repetir contraseña</label>
                <input type="text" id="user-account" name="user-account" class="input-group__input">
                <span class="input-group__error" data-lang="reset-password-re-password-error">ERROR! Ingrese una contraseña válida.</span>
            </div>
        </div>
        <span class="input-group__error-form" data-lang="reset-password-general-error">Error! Verifique los campos marcados!</span>
        <div class="input-group__buttons">
            <button type="submit" data-lang="reset-password-send">Enviar</button>
        </div>
        <div class="input-group__form-group account">
            <span class="reset-form__forgot-password" data-lang="reset-password-forgot-pass">¿Olvidaste tu contraseña?</span>
            <span class="reset-form__register" data-lang="reset-password-not-account">No tenes cuenta. ¿Deseas registrarte?</span>
        </div>
    </div>
</div>