<div class="main-content__wrapper">
    <div class="create-account">
        <div class="create-account__heading">
            <h1 class="create-account__heading__title"></h1>
        </div>
        <div class="create-account__container">
            <div class="create-account__container__formatter">
                <label for="user-account-name">Usuario</label>
                <input type="text" id="user-account-name" name="user-account-name" class="create-account__container__user-account-name">
            </div>
            <div class="create-account__container__formatter">
                <label for="user-password">Contraseña</label>
                <input type="password" id="user-password" name="user-password" class="create-account__container__user-password">
            </div>
            <div class="create-account__container__formatter">
                <label for="user-password-repeat">Reoetir contrasela</label>
                <input type="password" id="user-password-repeat" name="user-password-repeat" class="create-account__container__user-password-repeat">
            </div>
            <div class="create-account__container__formatter">
                <label for="email"></label>
                <input type="text" id="user-email" name="user-email" class="create-account__container__email">
            </div>
            <div class="create-account__container__formatter">
                <label for="email-repeat"></label>
                <input type="text" id="email-repeat" name="email-repeat" class="create-account__container__email-repeat">
            </div>
        </div>
        <div class="create-account__footer">
            <span class="create-account__forgot-password">¿Olvidaste tu contraseña?</span>
            <span class="create-account__register">No tenés cuenta. ¿Deseas registrarte?</span>
        </div>
    </div>
</div>