<div class="main-content__wrapper">
    <div class="create-account">
        <div class="create-account__heading">
            <h1 class="create-account__heading__title">Registrate</h1>
        </div>
        <div class="create-account__container">
            <div class="input-group__form-group">
                <label for="user-account-name" class="input-group__label">Usuario</label>
                <input type="text" id="user-account-name" name="user-account-name" class="input-group__input">
            </div>
            <div class="input-group__form-group">
                <label for="user-password" class="input-group__label">Contraseña</label>
                <input type="password" id="user-password" name="user-password" class="input-group__input">
            </div>
            <div class="input-group__form-group">
                <label for="user-password-repeat" class="input-group__label">Repetir contraseña</label>
                <input type="password" id="user-password-repeat" name="user-password-repeat" class="input-group__input">
            </div>
            <div class="input-group__form-group">
                <label for="email" class="input-group__label">Email</label>
                <input type="text" id="user-email" name="user-email" class="input-group__input">
            </div>
            <div class="input-group__form-group">
                <label for="email-repeat" class="input-group__label">Repetir Email</label>
                <input type="text" id="email-repeat" name="email-repeat" class="input-group__input">
            </div>
        </div>
        <div class="input-group__buttons">
            <button type="submit">Ingresar</button> 
            <button type="reset">Limpiar</button>
            <span class="input-group__error-form">Error! Verifique los campos marcados!</span>
        </div>
        <div class="input-group__form-group account">
            <span class="login-form__forgot-password">¿Olvidaste tu contraseña?</span>
            <span class="login-form__register">Tenes cuenta. ¿Deseas Ingresar?</span>
        </div>
    </div>
</div>