<div class="user-panel">
    <div class="user-panel__navbar">
        <div class="user-panel__navbar__logo-container">
            <img src="" alt="">
        </div>
        <div class="user-panel__navbar__search-container">
            <input type="text" class="search-container">
        </div>
        <div class="user-panel__navbar__profile-container">
            <span class="profile-container__username"></span>
            <img src="" alt="" class="profile-container__img">
        </div>
    </div>
    <div class="user-panel__menu">
        
    </div>
    <div class="user-panel__wrapper">
        <div class="user-panel__menu-bar">
            <span>My profile</span>
            <span>Buys</span>
            <span>Logout</span>
        </div>
        <div class="user-panel_main-content"></div>
    </div>
    <div class="user-panel__footer"></div>
</div>