<div class="user-panel">
    <aside class="user-panel__navbar">
        <div class="user-panel__navbar__photo-container">
            <img src="../img/user-icon.png" alt="User icon">
        </div>
        <h1 class="user-panel__navbar__title">Panel de Usuario</h1>
        <ul class="user-panel__navbar__links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Compras</a></li>
            <li><a href="#">Configuración</a></li>
            <li><a href="#">Cerrar Sesión</a></li>
        </ul>
    </aside>
    <main class="user-panel__content">
        <h2 class="user-panel__content__greeting">Bienvenido, [Nombre de Usuario]</h2>
        <p class="user-panel__content__message">Aquí encontrarás información importante sobre tu cuenta.</p>
        <div class="user-panel__content__divider">
            <div class="user-panel__content__last-buys">
                <h2 class="user-panel__content__title">Ultimas compras</h2>
                <div class="user-panel__content__last-buys-container">

                </div class="user-panel__content">
            </div class="user-panel__content">
            <div class="user-panel__content__tracker">
                <h2 class="user-panel__content__title">Seguimiento de envíos</h2>
                <div class="user-panel__content__tracker-container">

                </div class="user-panel__content">
            </div class="user-panel__content">
        </div class="user-panel__content">
        <div class="user-panel__content__divider">
            <div class="user-panel__content__favs">
                <h2 class="user-panel__content__title">Favoritos</h2>
                <div class="user-panel__content__favs-container">

                </div>
            </div>

            <div class="user-panel__content_messages">
                <h2 class="user-panel__content__title">Mensajes</h2>
                <div class="user-panel__content__messages-container">

                </div>
            </div class="user-panel__content">
        </div class="user-panel__content">

        <div class="user-panel__content__divider">
            <h2 class="user-panel__content__title">Gestión de cuenta</h2>
            <div class="user-panel__content__divider-container">

            </div>
        </div class="user-panel__content">
        <div class="user-panel__content__divider">
            <div class="user-panel__content_returns">
                <h2 class="user-panel__content__title">Devoluciones</h2>
                <div class="user-panel__content__returns-container">

                </div>
            </div class="user-panel__content">
            <div class="user-panel__content__profile">
                <h2 class="user-panel__content__title">Informacion de perfil</h2>
            </div class="user-panel__content__profile-container">
        </div>

    </main>
    <footer class="user-panel__footer"></footer>
</div>