/* Error: Top-level selectors may not contain the parent selector "&".
 *    ,
 * 58 |   &__form-group {
 *    |   ^^^^^^^^^^^^^^
 *    '
 *   sass\pages\contacto.scss 58:3  @use
 *   sass\main.scss 30:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a    \2577 \a 58 \2502    &__form-group {\d\a    \2502    ^^^^^^^^^^^^^^\a    \2575 \a   sass\\pages\\contacto.scss 58:3  @use\a   sass\\main.scss 30:1            root stylesheet';
}
