<form action="/api/products" autocomplete="off" method="post" id="form-add-products">
    <div class="input-group__first-row">
        <div class="input-group__form-group">
            <label class="input-group__label" for="productName" data-lang="product-name">Nombre</label>
            <input class="input-group__input" name="productName" id="productName" type="text" placeholder="IRON MAN" autofocus value="" />
            <span class="input-group__error" data-lang="product-name-error">ERROR! EL nombre debe tener entre 5 y 30 caracteres.</span>
        </div>
        <div class="input-group__form-group">
            <label class="input-group__label" for="price" data-lang="price">Precio</label>
            <input class="input-group__input" name="price" id="price" type="number" value="" />
            <span class="input-group__error" data-lang="price-error">ERROR! Ingrese n칰meros positivos.</span>
        </div>
        <div class="input-group__form-group">
            <label class="input-group__label" for="discountPercent" data-lang="discount-percent">Porcentaje de descuento</label>
            <input class="input-group__input" name="discountPercent" id="discountPercent" type="number" value="" />
            <span class="input-group__error" data-lang="discount-percent-error">ERROR! Ingrese n칰meros positivos.</span>
        </div>
        <div class="input-group__form-group">
            <label class="input-group__label" for="stock" data-lang="stock">Stock</label>
            <input class="input-group__input" name="stock" id="stock" type="number" value="" />
            <span class="input-group__error" data-lang="stock-error">ERROR! Ingrese n칰meros.</span>
        </div>
    </div>
    <div class="input-group__second-row">
        <div class="input-group__form-group">
            <label class="input-group__label" for="vendor" data-lang="vendor">Fabricante</label>
            <input class="input-group__input" name="vendor" id="vendor" type="text" placeholder="HASBRO" value="" />
            <span class="input-group__error" data-lang="vendor-error">ERROR! El fabricante debe tener entre 5 y 40 caracteres.</span>
        </div>
        <div class="input-group__form-group">
            <label class="input-group__label" for="category" data-lang="category">Categor칤a</label>
            <input class="input-group__input" name="category" id="category" type="text" placeholder="Juguetes, coleccionables, autos" data-placeholder="placeholder-category" value="" />
            <span class="input-group__error" data-lang="category-error">ERROR! La categor칤a debe tener entre 5 y 50 caracteres.</span>
        </div>
        <div class="input-group__form-group">
            <label class="input-group__label" for="colors" data-lang="main-colors">Colores principales</label>
            <input class="input-group__input" name="colors" id="colors" type="text" placeholder="rojo, azul" data-placeholder="placeholder-colors"  value="{{this.colors}}" />
            <span class="input-group__error" data-lang="main-colors-error">ERROR! Ingrese de 1 a 3 colores separados por comas.</span>
        </div>
    </div>
    <div class="input-group__third-row">
        <div class="input-group__form-group">
            <label class="input-group__label" for="shortDescription" data-lang="short-description">Descripci칩n corta</label>
            <input class="input-group__input" name="shortDescription" id="shortDescription" type="text" placeholder="Figura de Iron Man" data-placeholder="placeholder-short-description" value="" />
            <span class="input-group__error" data-lang="short-description-error">ERROR! La descripci칩n debe tener entre 5 y 80 caracteres.</span>
        </div>
    </div>
    <div class="input-group__fourth-row">
        <div class="input-group__form-group">
            <label class="input-group__label" for="longDescription" data-lang="long-description">Descripci칩n larga.</label>
            <textarea class="input-group__textarea" name="longDescription" id="longDescription" cols="30" rows="10"></textarea>
            <span class="input-group__error" data-lang="long-description-error">ERROR! La descripci칩n debe tener entre 5 y 2000 caracteres.</span>
        </div>
    </div>

    <div class="input-group__fifth-row">
        <div class="input-group__form-group">
            <label class="input-group__label" for="ageFrom" data-lang="age-from-to">Edad desde / hasta</label>
            <input class="input-group__input" name="ageFrom" id="ageFrom" type="number" />
            <input class="input-group__input" name="ageTo" id="ageTo" type="number" />
            <span class="input-group__error" data-lang="age-from-to-error">ERROR! Ingrese numeros <br /> de 0 a 99.</span>
        </div>
        <div class="input-group__form-group">
            <input type="radio" id="ageMonth" value="0" name="ageSelects" class="input-group__radio" />
            <label for="ageMonth" data-lang="months">Meses</label>
            <input type="radio" id="ageYear" value="1" name="ageSelects" class="input-group__radio" />
            <label for="ageYear" data-lang="years">A침os</label>
            <input type="hidden" value="" name="ageSelect" id="ageSelect" />
            <input type="hidden" value="" name="addedDate" id="addedDate" />
            <input type="hidden" value="" name="lastSell" id="lastSell" />
            <input type="hidden" value="" name="urlName" id="urlName" />
            <input type="hidden" value="" name="id" id="id" />
            <span class="input-group__error" data-lang="months-years-error">ERROR! Seleccione meses o a침os.</span>
        </div>
        <div class="input-group__form-group">
            <input type="checkbox" id="freeShip" name="freeShip" value="false" class="input-group__check" />
            <label class="input-group__label" for="freeShip" id="label-checkbox" data-lang="free-shipping">Env칤o sin cargo</label>
            <span class="input-group__error" data-lang="is-shipping-free">쮼l env칤o es sin cargo?</span>
        </div>
    </div>
    <div class="input-group__files-row">
        <div class="input-group__form-group">
            <label class="input-group__label" for="avatar" data-lang="cover-image">Foto de portada</label>
            <input type="file" id="avatar" class="file-avatar" name="avatar" accept="image/png, image/gif, image/jpeg" />
            <span class="input-group__error" data-lang="cover-image-error">ERROR! Debe cargar una imagen.</span>
        </div>
        <div class="input-group__form-group">
            <label class="input-group__label" for="gallery" data-lang="gallery-photos">Fotos de galer칤a (opcional, 3 m치x)</label>
            <input type="file" multiple id="gallery" class="file-gallery" name="gallery" accept="image/png, image/gif, image/jpeg" />
            <span class="input-group__error" data-lang="gallery-photos-error">ERROR! M칤nimo una imagen, m치ximo 3.</span>
        </div>
    </div>
    <div class="input-group__buttons">
        <span class="input-group__error-form" data-lang="error-fields">Error! Verifique los campos marcados!</span>
        <span class="input-group__ok-form" data-lang="sucessfully-added-product">Producto cargado exitosamente 游때 !!</span>
        <button type="submit" id="btn-update" data-lang="add-product">Agregar</button>
        <button type="reset" id="btn-cancel" data-lang="clean-form">Limpiar formulario</button>
    </div>
</form>