<form id="productForm" action="http://localhost:8080/api/products/" method="POST">
    <div id="languageForms">
    </div>

    <div id="languageButtons">
    </div>

    <div class="productDetails">
        <div class="input-group__first-row">
            <div class="input-group__form-group">
                <label class="input-group__label" for="price" data-lang="form-product-price">Price:</label>
                <div class="input-group">
                    <div class="input-group__flex">
                        <input class="input-group__input" type="number" id="price" name="price" />
                        <select class="input-group__input__select" id="currency" name="currency"></select>
                    </div>
                    <span class="input-group__error" data-lang="form-product-price-error">ERROR! Ingrese n칰meros positivos.</span>
                </div>
            </div>
            <div class="input-group__form-group">
                <label class="input-group__label" for="tax" data-lang="form-product-tax">Tax:</label>
                <input class="input-group__input" type="number" id="tax" name="tax[0][value]" />
                <span class="input-group__error" data-lang="form-product-tax-error">ERROR! Ingrese n칰meros positivos.</span>
            </div>
            <div class="input-group__form-group">
                <label class="input-group__label" for="vat" data-lang="form-product-vat">VAT:</label>
                <input class="input-group__input" type="number" id="vat" name="vat[0][value]" />
                <span class="input-group__error" data-lang="form-product-vat-error">ERROR! Ingrese n칰meros positivos.</span>
            </div>
            <div class="input-group__form-group">
                <label class="input-group__label" for="discountPercent" data-lang="form-product-discount-percent">Discount Percent:</label>
                <input class="input-group__input" type="number" id="discountPercent" name="discountPercent" />
                <span class="input-group__error" data-lang="form-product-discount-percent-error">ERROR! Ingrese n칰meros positivos.</span>
            </div>
            <div class="input-group__form-group">
                <label class="input-group__label" for="stock" data-lang="form-product-stock">Stock Quantity:</label>
                <input class="input-group__input" type="number" id="stock" name="stock" />
                <span class="input-group__error" data-lang="form-product-stock-error">ERROR! Ingrese n칰meros.</span>
            </div>
        </div>
        <div class="input-group__second-row">
            <div class="input-group__form-group">
                <label class="input-group__label" for="vendor" data-lang="form-product-vendor">Vendor:</label>
                <input class="input-group__input" type="text" id="vendor" name="vendor" />
                <span class="input-group__error" data-lang="form-product-vendor-error">ERROR! El fabricante debe tener entre 5 y 40 caracteres.</span>
            </div>
            <div class="input-group__form-group">
                <label class="input-group__label" for="category" data-lang="form-product-category">Category:</label>
                <input class="input-group__input" type="text" id="category" name="category" />
                <span class="input-group__error" data-lang="form-product-category-error">ERROR! La categor칤a debe tener entre 5 y 50 caracteres.</span>
            </div>
        </div>
        <div class="input-group__first-row">
            <div class="input-group__form-group">
                <label class="input-group__label" for="optionSelect" data-lang="form-product-main-colors">Colors:</label>
                <div class="container">
                    <select id="optionSelect">
                        <option value="" data-lang="form-product-select-colors">Seleccionar colores</option>
                        <option value="01" data-lang="form-product-color-red">Rojo</option>
                        <option value="02" data-lang="form-product-color-blue">Azul</option>
                        <option value="03" data-lang="form-product-color-yellow">Amarillo</option>
                        <option value="04" data-lang="form-product-color-green">Verde</option>
                        <option value="05" data-lang="form-product-color-violet">Violeta</option>
                        <option value="06" data-lang="form-product-color-orange">Naranja</option>
                    </select>
                    <button type="button" id="addButton"  data-lang="form-product-color-button">Agregar</button>
                </div>
                <div class="selected-options" id="selectedOptions">
                </div>
                <span class="input-group__error" data-lang="form-product-colors-error">ERROR! Seleccione al menos un color.</span>
            </div>

            <div class="input-group__form-group">
                <label class="input-group__label" for="freeShip" data-lang="form-product-free-shipping-title">Free Shipping</label>
                <div class="center-align">
                    <input class="input-group__check" type="checkbox" id="freeShip" name="freeShip" />
                    <label class="input-group__label" for="freeShip"  data-lang="form-product-free-shipping-text">Free Shipping</label>
                </div>
                <span class="input-group__error" data-lang="form-product-is-shipping-free">쮼l env칤o es sin cargo?</span>
            </div>
            <div class="input-group__form-group">
                <label class="input-group__label" for="ageFrom" data-lang="form-product-age-from-to">Edad desde / hasta</label>
                <div class="input-group__input__flex">
                    <input class="input-group__input" type="number" id="ageFrom" name="ageFrom" />
                    <input class="input-group__input" type="number" id="ageTo" name="ageTo" />
                </div>
                <span class="input-group__error" data-lang="form-product-months-years-error">ERROR! Seleccione meses o a침os.</span>
            </div>
            <div class="input-group__form-group">
                <label class="input-group__label" for="ageMonths"data-lang="form-product-radio-age">Select Age</label>
                <div class="form-group-flex">
                    <input class="input-group__radio" type="radio" id="ageMonths" name="ageSelect" value="months"/>
                    <label class="input-group__label" for="ageMonths" data-lang="form-product-months">Months</label>
                    <input class="input-group__radio" type="radio" id="ageYears" name="ageSelect" value="years" />
                    <label class="input-group__label" for="ageYears" data-lang="form-product-years">Years</label>
                </div>
                <span class="input-group__error" data-lang="form-product-months-years-error">ERROR! Seleccione meses o a침os.</span>
            </div>
        </div>
        <div class="input-group__fifth-row">
            {{!-- <div class="input-group__form-group">
                <input type="hidden" id="addedDate" name="addedDate" value="" />
                <input type="hidden" id="lastSell" name="lastSell" value="" />
                <input type="hidden" id="urlName" name="urlName" value="" />
            </div> --}}
            <div class="input-group__form-group">
                <label class="input-group__label" for="images" data-lang="form-product-images">Images:</label>
                <p data-lang="form-product-images-text">Insertar imagenes haciendo click en el cuadro correspondiente a cada imagen, la primer imagen de izquierda a derecha es la que se
                    mostrar치 en la card del producto. para borrar la imagen hacer clic en la imagen cargada. para reordenar las imagenes arrastrarla
                    hasta el lugar que deseas que quede.</p>
                <div id="imageContainer">
                </div>
                <input type="file" id="images" name="images" accept="image/*" multiple style="display: none;" />
            </div>
        </div>
    </div>
    <div class="input-group__form-group">
        <div id="productInformation">
        </div>
    </div>
    <div class="input-group__buttons">
        <span class="input-group__error-form" data-lang="form-product-error-fields">Error! Verifique los campos marcados!</span>
        <span class="input-group__ok-form" data-lang="form-product-sucessfully-added-product">Producto cargado exitosamente 游때 !!</span>
        <button type="button" id="btn-sendform" data-lang="form-product-add-product">Agregar</button>
        <button type="reset" id="btn-cancel" data-lang="form-product-clean-form">Limpiar formulario</button>
    </div>
</form>