<p data-lang="reset-password-updated-message">Se actualiz칩 su contrase침a. Inicie sesi칩n para continuar.</p>
<div class="input-group__buttons">
    <a href="/#/login" data-lang="reset-password-updated-message">Iniciar sesi칩n</a>
</div>