<p data-lang="recovery-resend-message">Se ha enviado al mail proporcionado las instrucciones para reestablecer su contraseña. este tiene validez de 1 hora. si desea enviar nuevamente las instrucciones presione en el botón reenviar.</p>
<div class="input-group__buttons">
    <button type="submit" id="recovery-resend-button" data-lang="recovery-resend-button">Reenviar</button>
</div>