<p data-lang="signup-message">Su cuenta fue creada exitosamente, por favor inicie sesión.</p>
<div class="input-group__buttons">
    <a href="/#/login" data-lang="signup-login-button">Iniciar sesión</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>