<p data-lang="register-message">Su cuenta fue creada exitosamente, por favor inicie sesión.</p>
<div class="input-group__buttons">
    <a href="/#/login" data-lang="reset-password-login">Iniciar sesión</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>