.cart-modal {

   
    &__products {

        & .card-cart-preview {
            max-width: 100%;
            display:flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid #cecdcd;
            border-radius: 8px;
            transition: all .2s;
         margin: 1em 0;
          
            /* background-color: #ffff00; */
            background-color: #ffffff;
            position: relative;

            &__image-container {
                display: inline-block;
                height: 80px;
                width: 80px;
                line-height: 80px;
                text-align: center;
                margin: 1em;
                cursor: pointer;
                
            }
            &__image {
                max-width: 100%;
                max-height: 100%;
                vertical-align: middle;
                object-fit: contain;
            }
            &__content {
                display: inline-block;
                flex-grow: 1;
                
                &__product-brand {
                    /* position: absolute; */
                    display: block;
                    margin-top: 1em;
                }
    
                &__heading {
                    margin: 0;
                }
    
                .section-cards {
                    max-width: 1600px;
    
                    &__header {
                        text-align: center;
                        padding-top: 2em;
                    }
                }
            }
            &__price {
                display: inline-block;
                margin: 1em;
                &__price-currency {
                    font-weight: 600;
                    font-size: 1,2em;
                    display: block;
                    text-align: left;
                    margin: 0 auto;
                }
            }
            & .fa-trash-o {
                display: block;
               
                
            } 
        }

    }

}