@use '../abstracts/variables' as color;
@use '../abstracts/mixins' as mixin;

.card {
    width: 270px;
    //flex-grow: 1;
    border: 1px solid color.$lightgrey;
    border-radius: 8px;
    transition: all .2s;
    padding: 1em 1em 3.5em 1em;
    background-color: color.$white;
    position: relative;
    flex-shrink: 0;

    @media (hover: hover) {

        &:hover {
            box-shadow:
                0 1px 5px color.$shadow,
                0 0 3px color.$shadow;
            transform-origin: bottom;
        }
    }

    &__flag-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        line-height: 60px;
    }

    &__flag-new-product,
    &__flag-last-unit {
        max-width: 100%;
        max-height: 100%;
    }

    &__flag-new-product {
        visibility: visible;
    }

    &__flag-last-unit {
        visibility: visible;
    }

    &__link {
        position: absolute;
        bottom: 1em;
        left: 50%;
        width: 10em;
        transform: translateX(-50%);
        @include mixin.red-button;

    }

    @media (hover: hover) {

        &__link:hover {
            @include mixin.red-button-hover;
        }
    }

    &__link:active {
        @include mixin.red-button-active;
    }

    &__image-container {
        height: 200px;
        line-height: 200px;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 1em;
        cursor: pointer;
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        object-fit: contain;
    }

    &__price-currency {
        font-weight: 600;
        font-size: 2em;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    &__latest-price-currency {
        text-decoration: line-through;
        color: color.$grey;
    }

    &__discount {
        background-color: color.$yellow;
        padding: .5em;
        margin-left: .3em;
        border-radius: 1em;
        font-size: .8em;
        font-weight: 600;
        margin-bottom: .1em;
    }

    &__product-brand {
        display: block;
        margin-top: 1em;
    }

    &__heading {
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 1em;
    }
}

.heart-btn {
    width: 30px;
    height: 30px;
    /*  border: 2px solid #c6c6c6; */
    border: none;
    border-radius: 50%;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
    /*  transition: all 0.3s ease-in-out; */
    background-color: white;
}

.heart-btn.clicked {
    animation: grow-shrink 0.2s forwards;
}
/*  */
@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.heart-btn i {
    font-size: 20px;
    position: absolute;
    color: color.$black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart-btn i:hover {
    color: color.$red;
}

.heart-btn.clicked i:before {
    content: "\f004";
    color: color.$red;
    animation: heartbeat 0.4s linear;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.3);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}


.section-cards {
    max-width: 1600px;
    position: relative;
    margin-bottom: 6em;

    &__header {
        text-align: center;
        padding-top: 2em;
    }

    /* Separated block in order to make dissapear first */
    .arrows {
        &__prev {
            & .fa-chevron-circle-left {
                display: none;
            }
        }
        &__next {
            & .fa-chevron-circle-right {
                display: none;
            }
        }
    }

    /* Then the complete media query to show the arrows */
    @media (hover: hover) {
        .arrows {

            &__prev {
                width: 4em;
                height: 76%;
                color: color.$cyan;

                position: absolute;
                bottom: 15px;
                left: 0;

                & .fa-chevron-circle-left {
                    position: absolute;
                    display: block;
                    top: 42%;
                    left: 10px;
                    cursor: pointer;
                    background-color: color.$white;
                    border-radius: 50%;
                }
            }

            &__next {
                width: 4em;
                height: 76%;
                color: color.$cyan;
                background-color: rgba(255, 255, 255, 0);
                position: absolute;
                bottom: 15px;
                right: 0;

                & .fa-chevron-circle-right {
                    position: absolute;
                    display: block;
                    top: 42%;
                    right: 10px;
                    cursor: pointer;
                    background-color: color.$white;
                    border-radius: 50%;
                }
            }

            &__prev:hover,
            &__next:hover {
                color: color.$darkblue;
            }
        }
    }
}

.hide-elements {
    color: color.$white;
    background-color: color.$white;
}