@use '../abstracts/variables' as color;

.cart-modal {

    &__products {

        & .card-cart-preview {
            max-width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid color.$lightgrey;
            border-radius: 8px;
            transition: all .2s;
            margin: 1em 0;
            background-color: color.$white;
            position: relative;

            &__image-container {
                display: inline-block;
                height: 80px;
                width: 80px;
                line-height: 80px;
                text-align: center;
                margin: 1em;
                cursor: pointer;
            }

            &__image {
                max-width: 100%;
                max-height: 100%;
                vertical-align: middle;
                object-fit: contain;
            }

            &__content {
                display: inline-block;
                flex-grow: 1;

                &__product-brand {
                    display: block;
                    margin-top: 1em;
                }

                &__heading {
                    margin: 0;
                }

                .section-cards {
                    max-width: 1600px;

                    &__header {
                        text-align: center;
                        padding-top: 2em;
                    }
                }

                & .qty-selector-container {
                    border-radius: 5px;
                    padding: 0 5px;
                    width: 100px;
                    text-align: center;

                    & .fa-minus,
                    .fa-plus {
                        padding: 3px;
                        cursor: pointer;
                        margin: 0 auto;
                        background-color: color.$lightgrey;
                        border-radius: 4px;
                    }

                    @media (hover: hover) {

                        & .fa-minus:hover,
                        .fa-plus:hover {
                            background-color: color.$lightgrey;
                        }
                    }

                    & input {
                        background-color: color.$white;
                        padding: 3 15px;
                        border-radius: 3px;
                        width: 40px;
                        border: 1px solid color.$black;
                        text-align: center;
                    }
                }
            }

            &__price {
                display: inline-block;
                margin: 0 1em;
                margin-top: 40px;

                & span {
                    text-align: right;
                }

                &__price-currency {
                    font-weight: 400;
                    font-size: 1em;
                    display: block;
                    text-align: left;
                    margin: 0 auto;
                }
            }

            &__price {

                &__sub-price-currency {
                    font-weight: 600;
                    font-size: 1em;
                    display: block;
                    text-align: left;
                    margin: 0 auto;
                }
            }

            & .fa-trash-o {
                display: block;
                padding-right: .5em;
                margin-bottom: 5px;
            }
        }
    }
}