@use '../abstracts/variables' as color;

#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: color.$cyan;
    cursor: pointer;
    padding-left: 14px;
    padding-top: 5px;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    animation: fadeIn 1s;
}

@media (hover: hover) {
  #myBtn:hover {
        background-color: color.$darkblue;
    }

  #myBtn:hover span {
        display: inline-block;
    }
}

#myBtn:after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: color.$white;
}

#myBtn span {
    display: none;
    background-color: color.$darkblue;
    font-size: 1em;
    color: color.$white;
    padding: 5px;
    position: fixed;
    bottom: 115px;
    right: 90px;
    border-radius: 4px;
}