

.input-group {
    width: 100%;

    &__form-group {
        padding: 0 1em 0 1em;
    }
    &__label {
        display: block;
    }
    &__input {
        border: 1px solid rgb(139, 139, 139);
        display: inline-block;
        border-radius: .3em;
        padding: .3em;
        width: 90%;
    }

    &__radio {
        display: inline-block;
        margin-left: 1em;
        margin-top: .3em;
    }

    &__checkbox{
        display: inline-block;
        margin-left: 1em;
        margin-top: .3em;
    }

    &__error {
        display: block;
        visibility: hidden;
        margin: .1em 1em .5em 1em;
        color: #ff0000;
        font-size: .8em;
    }

    // Errors on form input 
    &__input--error {
        border: solid 1px #ff0000;
    }

    &__error--show {
        visibility: visible;
    }

    &__textarea {
        width: 90%;
        border-radius: .3em;
        padding: .3em;
        resize: vertical;
    }

    &__buttons {
        margin: 1em;
        text-align: center;
        padding: 1em;
    }

    &__buttons button {
        background-color: #be0000;
        text-decoration: none;
        color: #ffffff;
        padding: .7em;
        border-radius: .6em;
        border: 0px;
        cursor: pointer;
    }
}

#product-age-from,
#product-age-to {
    width:20%;
}

#label-checkbox {
    display: inline-block;
}