@use '../abstracts/variables' as color;
@use '../abstracts/mixins' as mixin;

.input-group {
    width: 100%;

    &__form-group {
        padding: 0 1em 0 1em;
    }

    &__label {
        display: block;
    }

    &__input {
        border: 1px solid color.$grey;
        display: inline-block;
        border-radius: .3em;
        padding: .3em;
        width: 100%;
    }

    &__radio {
        display: inline-block;
        margin-left: 1em;
        margin-top: .3em;
    }

    &__checkbox {
        display: inline-block;
        margin-left: 1em;
        margin-top: .3em;
    }

    &__error {
        display: block;
        visibility: hidden;
        margin: .1em 1em .5em 1em;
        color: color.$lightred;
        font-size: .8em;
    }

    // Errors on form input 
    &__input--error {
        border: solid 1px color.$lightred;
        background-color: color.$softred;
    }

    &__input--ok {
        border: solid 1px color.$green;
        background-color: #b6ffba;
    }

    &__error--show {
        visibility: visible;
    }

    &__textarea {
        width: 100%;
        border-radius: .3em;
        padding: .3em;
        resize: vertical;
    }

    &__buttons {
        margin: 1em;
        text-align: center;
        padding: 1em;
    }

    &__buttons button {
        @include mixin.red-button;
        border: none;
        cursor: pointer;
    }
    &__buttons button:hover {
        @include mixin.red-button-hover;
    }
    &__buttons button:active {
        @include mixin.red-button-active;
    }
}

#product-age-from,
#product-age-to {
    width: 20%;
}

#label-checkbox {
    display: inline-block;
}