@use '../abstracts/variables' as color;
@use '../abstracts/mixins' as mixin;

.input-group {
    width: 100%;

    &__form-group {
        padding: 0 1em 0 1em;

        &__flex {
            display: flex;
            height: 30px;
            align-items: center;
            gap: 1em;
        }
    }

    &__label {
        display: block;
        height: 30px;
        line-height: 30px;
    }

    &__input {
        border: 1px solid color.$grey;
        display: inline-block;
        border-radius: .3em;
        padding: .3em;
        width: 100%;

        &__select {
            width: 90px;
            border-radius: .3em;
            margin-left: 5px;
        }

        &__flex {
            display: flex;
            height: 30px;
            gap: 1em;
        }
    }

    &__radio {
        display: inline-block;
        margin-left: .5em;
        margin-top: 0px;
    }

    &__checkbox {
        display: inline-block;
        margin-left: 1em;
        margin-top: .3em;
    }

    &__error {
        display: block;
        visibility: hidden;
        margin: .1em 1em .5em 1em;
        color: color.$lightred;
        font-size: .8em;
    }

    &__error-form {
        display: block;
        visibility: hidden;
        margin: .1em 1em 1em 1em;
        color: color.$lightred;
        font-size: 1em;
    }

    // Errors on form input 
    &__input--error {
        border: solid 1px color.$lightred;
        background-color: color.$softred;
    }

    &__input--ok {
        border: solid 1px color.$green;
        background-color: color.$softgreen;
    }

    &__ok-form {
        display: block;
        visibility: hidden;
        margin: .1em 1em 1em 1em;
        color: color.$green;
        font-size: 1em;
    }

    &__error--show {
        visibility: visible;
    }

    &__ok-form--show {
        visibility: visible;
    }

    &__flex {
        display: flex;
        height: 30px;
    }

    &__textarea {
        width: 100%;
        border-radius: .3em;
        padding: .3em;
        resize: vertical;
        height: 150px;
    }

    &__buttons {
        margin: 1em;
        text-align: center;
        padding: 1em;
    }

    &__buttons button {
        @include mixin.red-button;
        border: none;
        cursor: pointer;
    }

    &__buttons button:hover {
        @include mixin.red-button-hover;
    }

    &__buttons button:active {
        @include mixin.red-button-active;
    }
}

#product-age-from,
#product-age-to {
    width: 20%;
}

#label-checkbox {
    display: inline-block;
}

#optionSelect,
#addButton,
.language-button {
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

#addButton,
.language-button {
    border: 1px color.$grey solid;
}

@media (hover: hover) {
    #addButton:hover,

    .language-button:hover {
        background-color: color.$grey;
    }
}

.form-group-flex {
    display: flex;
    height: 30px;
    align-items: center;
    gap: .5em;
}