@use '../abstracts/variables' as color;

.main-content {

    & .main-slider {
        padding-top: 60px;
        width: 100%;
        background-color: color.$black;
        vertical-align: middle;

        & img {
            width: 100%;
        }

        & img:nth-child(1) {
            display: none;
        }

        & img:nth-child(3) {
            display: none;
        }
    }
}