@use '../abstracts/variables' as color;

.main-content {

    & .main-slider {
        padding-top: 120px;
        width: 100%;
        background-color: color.$black;
        vertical-align: middle;
        transition: 0.4s;

        @media (min-width: 600px) {
            padding-top: 80px;
        }

        & img {
            width: 100%;
        }

        & img:nth-child(1) {
            display: none;
        }

        & img:nth-child(3) {
            display: none;
        }
    }
}