@use '../abstracts/variables' as color;

#toast-notification {
    z-index: 1000;
    position: fixed;
    bottom: 10px;
    left: 50px;
    width: 300px;

    .alert-msg {
        background: color.$softgreen;
        //border: 1px solid #ddd;
        bottom: 25px;
        box-shadow: 5px 5px 10px color.$shadow;
        left: 25px;
        padding: 15px;
        border-radius: 10px;
        //position: absolute;
        //z-index: 1000;

/*         &:before {
            color: red;
            content: "\f06a";
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5em;
            font-weight: 600;
            margin-right: 10px;
            vertical-align: sub;
        } */
    }

    .slide-in {
        animation-name: slideIn;
        animation-duration: 0.8s;
    }

    @keyframes slideIn {
        from {
            transform: translateX(-400px);
        }

        to {
            transform: translateX(0);
        }
    }

    .slide-out {
        animation-name: slideOut;
        animation-duration: 0.8s;
    }

    @keyframes slideOut {
        from {
            transform: translateY(0);
            opacity: 1;
        }

        to {
            transform: translateY(80px);
            opacity: 0;
        }
    }
}