@use '../abstracts/variables' as color;

#toast-notification {
    z-index: 1000;
    position: fixed;
    bottom: 25px;
    left: 25px;
    width: 300px;

    .alert-msg {
        background: color.$black;
        color: color.$white;
        text-align: center;
        bottom: 25px;
        left: 25px;
        padding: 15px;
        border-radius: 10px;
        position: fixed;
    }

    .slide-in {
        animation-name: slideIn;
        animation-duration: 0.8s;
    }

    .slide-out {
        animation-name: slideOut;
        animation-duration: 0.8s;
    }
}