@use '../abstracts/variables' as color;

#button-whatsapp {
    background-color: color.$lightgreen;
    display: inline-block;
    box-shadow: 3px 3px 4px color.$shadow;
    border-radius: 50%;
    background-image: url('../img/icon-whatsapp.png');
    height: 64px;
    width: 64px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: color.$white;
    z-index: 99;
}

#button-whatsapp span {
    display: none;
    background-color: color.$green;
    padding: 5px;
    position: relative;
    bottom: -20px;
    left: -90px;
    border-radius: 4px;
}

@media (hover: hover) {
    #button-whatsapp:hover {
        background-color: color.$green;
    }

    #button-whatsapp:hover span {
        display: inline-block;
    }
}