#button-whatsapp {
    background-color: hsl(142, 70%, 49%);
    display: inline-block;
    box-shadow: 3px 3px 4px hsla(0, 0%, 0%, .1);
    border-radius: 50%;
    background-image: url('../img/icon-whatsapp.png');
    height: 64px;
    width: 64px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: #fff;
    z-index: 99;
}

#button-whatsapp span {
    display: none;
    background-color: hsl(142, 70%, 40%);
    padding: 5px;
    position: relative;
    bottom: -20px;
    left: -90px;
    border-radius: 4px;
}

#button-whatsapp:hover {
    background-color: hsl(142, 70%, 40%);
}

#button-whatsapp:hover span {
    display: inline-block;
}