
$white:            #fff;
$lightgrey:        #cecdcd;
$grey:             #8b8b8b;
$darkgrey:         #4e4e4e;
$black:            #000;
$lightblack:       #0e0e0e;
$blacktransparent: hsla(0, 0%, 0%, 0.8);
$lightred:         #ff0000;;
$red:              #be0000;
$darkred:          #810000;
$yellow:           #F9BB10;
$cyan:             #00B2EB;
$darkblue:         #004173;
$violet:           #6f00ff;
$greenlight:       #26d466;
$green:            #1fad53;

