@use '../abstracts/variables' as color;

.main-content {

    & .checkout {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        justify-content: center;
        min-height: 200px;
        margin-bottom: 3em;

        @media (min-width: 768px) {
            height: 600px;
        }

        &__title {
            border-bottom: solid 1px color.$grey;
            padding-bottom: .2em;
        }

        &__pay {
            height: 100%;
            width: 50%;
            border: 1px solid color.$red;
        }

        &__cart {
            height: 100%;
            width: 100%;
            max-width: 800px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            background-color: color.$white;
            border-radius: 10px;

            @media (min-width: 768px) {
                padding: 2em;
                background-color: color.$lightgrey;
                margin-left: 1em;
            }
        }

        &__products {
            flex-grow: 1;

            @media (min-width: 768px) {
                flex-grow: 1;
                width: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }

        &__final-container {
            display: block;
            margin: 0.5em 0;
            font-size: 2em;
            font-weight: 600;
            text-align: right;
        }

        &__final::before {
            content: '$';
        }
    }
}