.main-content {

    & .checkout {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        height: 600px;

        &__title {
            border-bottom: solid 1px grey;
            padding-bottom: .2em;
        }

        &__pay {
            height: 100%;
            width: 50%;
            border: 1px solid red;
        }

        &__cart {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding: 2em;
            background-color: rgb(241, 241, 241);
            border-radius: 10px;
            margin-left: 1em;
        }

        &__products {
            flex-grow: 1;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        &__total-container {
            border-top: 1px solid grey;
            margin: 1.5em 0 1em 0;
            padding-top: 1em;
            display:flex;
            flex-direction: row;
        }

        &__total-label {
            font-size: 2em;
            flex-grow: 1;
        }

        &__total {
            font-size: 2em;
            font-weight: 600;
        }

        &__total::before {
            content: '$';
        }
    }
}