.main-content {

    &__divider-left {
      width: 600px;
      float: left;
    }

    &__divider-right {
      width: 600px;
      float: right;
    }
    &__wrapper img {
      width: 100%;
    }
}

.store-info {
  width: 100%;
  float: left;
  padding-left: 3em;

}
