/* .main-content {

    &__divider-left {
      width: 600px;
      float: left;
    }

    &__divider-right {
      width: 600px;
      float: right;
    }
    &__wrapper img {
      width: 100%;
    }
}

.store-info {
  width: 100%;
  float: left;
  padding-left: 3em;

}
 */
 .main-content {

  &__divider-left {
    width: 100%;

    @media (min-width: 845px) {

      width: 70%;
      float: left;
    }
  }

    &__divider-right {
      width: 100%;

      @media (min-width: 845px) {

        width: 70%;
        float: right;
      }

    }
  }

.input-group {

  & #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    }
  }

  &__form-group {
    text-align: center;
  }
