@use '../abstracts/variables' as color;

html {
    scroll-behavior: smooth;
}

::selection {
    color: color.$darkblue;
    background: color.$cyan;
}

.cards-container {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}