@use '../abstracts/variables' as color;

html {
    scroll-behavior: smooth;
}

::selection {
    color: color.$darkblue;
    background: color.$cyan;
}

.cards-container {
    padding: 1em;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 1em;
}

.active {
    cursor: grab;
}