.main-content__wrapper .parrafo {
    display: block;
    text-align: justify;

}

.main-content__wrapper .img-store {
    width: 50%;
    display: block;
    float: left;
    margin-bottom: 3em;
    margin-right: 2em;
}
