@use '../abstracts/variables' as color;

.nosotros p,
.nosotros img {
    display: inline-block;
    padding: 2em;
}

.nosotros .img-store {
    width: 100%;

    @media (min-width: 1000px) {
        width: 50%;
    }
}

.nosotros div {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1000px) {
        flex-direction: row;
    }
}

.nosotros div:nth-child(1) {

    background-color: color.$lightnw;
}

.nosotros div:nth-child(2) {
    background-color: color.$lightno;
}

.nosotros div:nth-child(3) {
    background-color: color.$lightnw;
}

.nosotros p {
    font-size: 1.5em;

    @media (min-width: 1000px) {
        font-size: 1.2em;
    }
}