@use '../abstracts/variables' as color;

.section-all-products {
    margin-top: 3em;
    display: flex;
    flex-direction: row;

    .section-options {
        margin-top: 11em;
        position: fixed;
        left: -200px;

        @media (min-width: 900px) {
            display: block;
            position: unset;
        }

        h4 {
            font-size: .9em;
        }

        form {

            select {
                font-size: .9em;
            }
        }

        ul {

            li {
                list-style-type: none;
                margin-left: -2em;

                a,
                a:visited {
                    color: color.$black;
                    text-decoration: none;
                    font-size: .9em;
                }

                a:hover {
                    color: color.$cyan;
                }
            }
        }

        // Temporary disabled
        & h4:nth-child(1),
        & select:nth-child(1),
        & :nth-child(9),
        & :nth-child(10),
        & :nth-child(11),
        & :nth-child(12) {
            visibility: hidden;
        }
    }

    .section-products {
        width: 100%;

        .section-cards {

            &__header {

                .section-qty {

                    form {
                        text-align: right;

                        select {
                            font-size: .9em;
                            border-radius: 10px;
                            padding: .32em;
                            cursor: pointer;
                            margin-top: 1em;
                            margin-bottom: 1em;
                            margin-right: .5em;
                        }
                    }
                }
            }

            &__cards-container {
                padding: 1em;
                display: flex;
                flex-wrap: wrap;
                gap: 1em;
                justify-content: center;
            }
        }

        .section-tags {
            margin: 2em 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;

            span {
                font-size: 0.9em;
                background-color: color.$lightgrey;
                border-radius: 10px;
                padding: 5px;
                cursor: pointer;
                margin: .4em .4em;
            }
        }
    }
}

.section-pages-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 500;
    gap: 5px;
}