@use '../abstracts/variables' as color;

.main-content {

    &__wrapper {

        & .create-account {
            max-width: 350px;
            padding-top: 100px;
            margin: 0 auto;
        }
    }

}