.user-panel {

    margin-top: 10em;
    display: flex;

    &__navbar {

        display: none;

        @media (min-width: 900px) {
            display: block;
        }

        &__photo-container {
            width: 100px;
            height: 100px;

            & img {
                width: 100%;
                object-fit: contain;
            }
        }


        &__title {
            font-size: 1.5em;
        }

        &__links {
            list-style: none;

            & li {
                text-decoration: none;

                & a {}
            }
        }
    }

    &__content {

        width: 100%;
        margin: 1em;

        &__greeting {
            text-align: center;
        }

        &__message {
            text-align: center;
        }


        &__divider {}

        &__title {}

        &__last-buys,
        &__tracker,
        &__favs,
        &__messages,
        &__account,
        &__returns,
        &__profile {
            border: 1px solid black;
            margin: 1em;
            padding: 1em;
            border-radius: 10px;
            background-color: white;
        }

        &__last-buys {}

        &__tracker {}

        &__favs {}

        &__messages {}

        &__account {}

        &__returns {}

        &__profile {


            &-container {}
        }
    }

    &__footer {}
}