<div class="main-content__title">
    <h1>Agregar un producto</h1>
</div>
<div class="main-content__wrapper">

    <section class="input-group">
        <form action="#" autocomplete="off">
            <div class="main-content__divider-left">
                <div class="input-group__form-group">
                    <input type="hidden" value="930398282" name="ID">
                    <label class="input-group__label" for="product-name">Nombre</label>
                    <input class="input-group__input" name="product-name" id="product-name" type="text">
                    <span class="input-group__error">ERROR!</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="product-price">Precio</label>
                    <input class="input-group__input" name="product-price" id="product-price" type="text">
                    <span class="input-group__error">ERROR!</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="product-vendor">Fabricante</label>
                    <input class="input-group__input" name="product-vendor" id="product-vendor" type="text">
                    <span class="input-group__error">ERROR!</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="product-stock">Stock</label>
                    <input class="input-group__input" name="product-stock" id="product-stock" type="text">
                    <span class="input-group__error">ERROR!</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="product-category">Categoría</label>
                    <input class="input-group__input" name="product-category" id="product-category" type="text">
                    <span class="input-group__error">ERROR!</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="product-short-description">Descripción corta</label>
                    <input class="input-group__input" name="product-short-description"
                        id="product-short-description" type="text">
                    <span class="input-group__error">ERROR!</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="product-long-description">Descripción larga</label>
                    <textarea class="input-group__textarea" name="product-long-description"
                        id="product-long-description" cols="30" rows="10"></textarea>
                    <span class="input-group__error">ERROR!</span>
                </div>

            </div>
            <div class="main-content__divider-right">
                <div class="input-group__form-group">
                    <label class="input-group__label" for="product-free-shipping">Envío sin cargo</label>
                    <input class="input-group__input" name="product-free-shipping" id="product-free-shipping"
                        type="text">
                    <span class="input-group__error">ERROR!</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="product-age-from">Edad desde</label>
                    <input class="input-group__input" name="product-age-from" id="product-age-from" type="text">
                    <label class="input-group__label" for="product-age-to">Edad hasta</label>
                    <input class="input-group__input" name="product-age-to" id="product-age-to" type="text">
                    <span class="input-group__error">ERROR!</span>
                </div>
                <div class="input-group__form-group">
                    <label class="input-group__label" for="myFile">Fotos</label>
                        <input type="file" class="input-group__file" id="myFile" name="filename">
                    <span class="input-group__error">ERROR!</span>
                </div>
            </div>
            <div class="input-group__buttons">
                <button>Agregar</button>
                <button>Limpiar formulario</button>
            </div>
        </form>
    </section>
</div>