<div class="main-footer__wrapper">
<div class="footer-row-container"></div>
    <div class="footer-col-container">
        <img src="img/logowhite.png" alt="Logo juguetería Cósmica">
        <p>Somos una empresa familiar fundada en Argentina, <br> dedicada a la comercialización de figuras <br>
            y juguetes coleccionables.</p>
    </div>
    <div class="footer-col-container">
        <h2>Secciones</h2>
        <ul class="footer-col-container__list">
            <li class="footer-col-container__item">
                <a href="index.html" class="footer-col-container__link">Inicio</a>
            </li>
            <li class="footer-col-container__item">
                <a href="alta.html" class="footer-col-container__link">Alta</a>
            </li>
            <li class="footer-col-container__item">
                <a href="contacto.html" class="footer-col-container__link">Contacto</a>
            </li>
            <li class="footer-col-container__item">
                <a href="nosotros.html" class="footer-col-container__link">Nosotros</a>
            </li>
        </ul>
    </div>
    <div class="footer-col-container">
        <section class="store-info">
            <h2>Estamos en:</h2>
            <p>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Av. Alem 2456 - Buenos Aires, Argentina
            </p>
            <p>
                <i class="fa fa-phone" aria-hidden="true"></i>
                011 43549032 / 43549033
            </p>
            <p>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                info@jugueteriacosmica.com.ar
            </p>
            <p>
                <i class="fa fa-at" aria-hidden="true"></i>
                www.jugueteriacosmica.com.ar
            </p>
            <p>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Lunes a viernes de 8 a 20hs
            </p>
        </section>
    </div>
</div>
<div class="footer-row-container">
    <div class="bottom-line">
        <p>&copy; 2022 - Forged by <a href="http://www.miguedev.com" target="_blank">www.miguedev.com</a></p>
    </div>
</div>
</div>