
        <div class="main-slider">
            <img class="mySlides" src="img/hero-xmen.jpg" alt="Slide">
            <img class="mySlides" src="img/hero-marvel.jpg" alt="Slide">
            <img class="mySlides" src="img/hero-mandalorian.jpg" alt="Slide">
        </div>

        <div class="main-content__wrapper">

            <section class="section-cards">
                <header class="section-cards__header">
                    <h1>NUEVOS INGRESOS</h1>
                    <p>Ingresaron nuevos productos a nuestra tienda.</p>
                </header>

                <div class="cards-container">

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">
                            <div class="card__flag-container">
                                <img src="img/new-product.png" alt="Nuevo ingreso" class="card__flag-new-product">
                            </div>
                            
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/61e7q+l8V4L._cpt_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class="card__latest-price-currency">$<span
                                        class="card__latest-price">4200</span></span>
                                <span class=card__product-brand>MARVEL</span>
                                <h2 class="card__heading">CAPITAN AMERICA</h2>
                                <p class="card__description">Figura del Capitan america 12 cm.</p>
                            </div>
                        </article>
                    </div>

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">
                            <div class="card__flag-container">
                                <img src="img/new-product.png" alt="Nuevo ingreso" class="card__flag-new-product">
                            </div>
                        
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/51VnXrnisTL._spiderman_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class=card__product-brand>MARVEL</span>
                                <h2 class="card__heading">SPIDERMAN</h2>
                                <p class="card__description">Figura de Spiderman 12 cm.</p>
                            </div>
                        </article>
                    </div>

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        
                        <article class="card__article">
                            <div class="card__flag-container">
                                <img src="img/new-product.png" alt="Nuevo ingreso" class="card__flag-new-product">
                            </div>

                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/71J-Aj+z75S._loki_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class=card__product-brand>MARVEL</span>
                                <h2 class="card__heading">LOKI</h2>
                                <p class="card__description">Figura de Loki de 12cm.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">
                            <div class="card__flag-container">
                                <img src="img/new-product.png" alt="Nuevo ingreso" class="card__flag-new-product">
                            </div>
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/71uQJ6YnXGL._hulk_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class=card__product-brand>MARVEL</span>
                                <h2 class="card__heading">HULK</h2>
                                <p class="card__description">Figura de Hulk de 12 cm.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">
                            <div class="card__flag-container">
                                <img src="img/new-product.png" alt="Nuevo ingreso" class="card__flag-new-product">
                            </div>
                        
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/81ec9J+H0XL._thorv_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class=card__product-brand>MARVEL</span>
                                <h2 class="card__heading">THOR</h2>
                                <p class="card__description">Figura de Thor de 12cm.
                                </p>
                            </div>
                        </article>
                    </div>
                </div>

                <footer class="section-cards__foter"></footer>
            </section>

            <section class="promo-wall">
                    <header class="promo-wall__header">
                        <h2>LOS MAS POPULARES</h2>
                    </header>
                    <div class="promo-wall__categories">
                        <div class="promo-wall__img"><img src="img/p-avengers.jpg"
                                alt="Poster promo figuras de Avengers">
                        </div>
                        <div class="promo-wall__img"><img src="img/p-transformers.jpg"
                                alt="Poster promo figuras de Transformers"></div>
                        <div class="promo-wall__img"><img src="img/p-lego.jpg" alt="Poster promo bricks Lego"></div>
                        <div class="promo-wall__img"><img src="img/p-jurassicpark.jpg"
                                alt="Poster promo figuras de Jurassic World"></div>
                        <div class="promo-wall__img"><img src="img/p-barbie.jpg" alt="Poster promo figuras de Barbie">
                        </div>
                        <div class="promo-wall__img"><img src="img/p-terminator.jpg"
                                alt="Poster promo figuras de Terminator"></div>
                        <div class="promo-wall__img"><img src="img/p-hotwheels.jpg"
                                alt="poster promo vehiculos de Hot Wheels"></div>
                    </div>
            </section>

            <section class="section-cards">
                <header class="section-cards__header">
                    <h1>LOS MAS VENDIDOS</h1>
                </header>

                <div class="cards-container">

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">
                            
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/61e7q+l8V4L._cpt_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class="card__latest-price-currency">$<span
                                        class="card__latest-price">5200</span></span>
                                <span class=card__product-brand>MARVEL</span>
                                <h2 class="card__heading">CAPITAN AMERICA</h2>
                                <p class="card__description">Figura del Capitan america de 12cm.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">

                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/51VnXrnisTL._spiderman_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class=card__product-brand>MARVEL</span>
                                <h2 class="card__heading">SPIDERMAN</h2>
                                <p class="card__description">Figura de Spiderman de 12cm.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">

                            <div class="card__flag-container">
                                <img src="img/last-unit.png" alt="Últimas unidades" class="card__flag-last-unit">
                            </div>
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/71J-Aj+z75S._loki_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class=card__product-brand>MARVEL</span>
                                <h2 class="card__heading">LOKI</h2>
                                <p class="card__description">Figura de Loki de 12cm.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">

                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/71uQJ6YnXGL._hulk_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class=card__product-brand>MARVEL</span>
                                <h2 class="card__heading">HULK</h2>
                                <p class="card__description">Figura de Hulk de 12cm.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">

                            <div class="card__flag-container">
                                <img src="img/last-unit.png" alt="Últimas unidades" class="card__flag-last-unit">
                            </div>
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/61bMjFAlTAL._dr_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class=card__product-brand>MARVEL</span>
                                <h2 class="card__heading">DR STRANGE</h2>
                                <p class="card__description">Figura de DR Strange de 12cm.
                                </p>
                            </div>
                        </article>
                    </div>

                </div>

                <footer class="section-cards__foter"></footer>
            </section>

            <section class="section-cards">
                <header class="section-cards__header">
                    <h1>ÚLTIMOS VISITADOS</h1>
                </header>

                <div class="cards-container">

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/71J-Aj+z75S._loki_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class=card__product-brand>MARVEL</span>
                                <h2 class="card__heading">LOKI</h2>
                                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">
                            
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/61e7q+l8V4L._cpt_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class="card__latest-price-currency">$<span
                                        class="card__latest-price">4200</span></span>
                                <span class=card__product-brand>MARVEL</span>
                                <h2 class="card__heading">CAPITAN AMERICA</h2>
                                <p class="card__description">Figura del Capitan america de 12cm.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">

                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/71yqh+-LzWL._chevy_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class=card__product-brand>HASBRO</span>
                                <h2 class="card__heading">CHEVY HOT WHEELS</h2>
                                <p class="card__description">Chevy HotWheels 1/20.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">

                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/7180i9Z4MJL._datsun_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class=card__product-brand>HASBRO</span>
                                <h2 class="card__heading">DATSUN HOT WHEELS</h2>
                                <p class="card__description">Datsun Hot Wheels 1/20.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="card">
                        <a href="#" class="card__link">Agregar al carrito</a>
                        <div class="card__item-qty-selector">
                            <span class="card__item-qty-selector__increase-qty">+</span>
                            <span class="card__item-qty-selector__qty">1</span>
                            <span class="card__item-qty-selector__decrease-qty">-</span>
                        </div>
                        <article class="card__article">

                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <div class="card__image-container">
                                <img src="img/products/71PKix2trZL._minions_.jpg" alt="Producto" class="card__image">
                            </div>
                            <div class="card__content">
                                <span class="card__price-currency">$<span class="card__price-value">5800</span></span>
                                <span class="card__discount"><span class="card__discount__percent">10</span>% DTO</span>
                                <span class=card__product-brand>HASBRO</span>
                                <h2 class="card__heading">MINIONS HOT WHEELS</h2>
                                <p class="card__description">Minions HotWheels 1/20.
                                </p>
                            </div>
                        </article>
                    </div>

                </div>

                <footer class="section-cards__foter"></footer>
            </section>

        </div>