<input type="checkbox" class="main-nav-toggle" id="main-nav-toggle">

<a href="https://wa.me/541133332222" id="button-whatsapp" target="_blank">
    <span>Escribinos</span>
</a>

<a onclick="topFunction()" id="myBtn">
    <span>Ir arriba</span>
</a>

<div class="background-dark background-dark--hidden">
</div>

<div class="cart-modal">
    <h1>Tu carrito está vacío!</h1>
    <h2>Comprate algo!</h2>
    <h2>¯\_(ツ)_/¯</h2>
    <button class="cart-modal__btn-close">
        X
    </button>
</div>