
        <div class="main-header__wrapper">
            <div class="main-header__wrapper__logo-container">
                <img class="main-header__wrapper__logo-container__logo" src="img/logocolor.png"
                    alt="Logo de la juguetería">
            </div>

            <div class="main-header__wrapper__search-form-container">
                <form action="">

                    <input type="text" placeholder="¿Qué estás buscando?">
                    <button> <i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                </form>
            </div>

            <div class="main-header__wrapper__login-button-container">
                <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                <div class="login-button-menu">
                    <a href="#" class="login-button-menu__login-button">Iniciar sesión</a>
                    <a href="#" class="login-button-menu__register-button">Crear cuenta</a>
                </div>
            </div>

            <div class="main-header__wrapper__cart-button-container">
                <i class="fa fa-shopping-basket fa-lg" aria-hidden="true"></i>
                <span class="main-header__wrapper__cart-button-container__qty-cart"> 0 </span>
            </div>

            <div class="main-header__wrapper__hamburger-button-container">
                <label for="main-nav-toggle" class="hamburger-button" title="Expandir barra de navegación">
                    <span class="hamburger-button__top-bread"></span>
                    <span class="hamburger-button__meat"></span>
                    <span class="hamburger-button__bottom-bread"></span>
                </label>
            </div>

            <div class="main-header__wrapper__main-nav-container">
                <nav class="main-nav">
                    <ul class="main-nav__list">
                        <li class="main-nav__item">
                            <a href="inicio.html" class="main-nav__link">Inicio</a>
                        </li>
                        <li class="main-nav__item">
                            <a href="alta.html" class="main-nav__link">Alta</a>
                        </li>
                        <li class="main-nav__item">
                            <a href="contacto.html" class="main-nav__link">Contacto</a>
                        </li>
                        <li class="main-nav__item">
                            <a href="nosotros.html" class="main-nav__link">Nosotros</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>