<div class="main-content__title">
    <h1>Nuestra historia</h1>
</div>
<div class="main-content__wrapper">
    <img src="img/storefront01.png" class="img-store" alt="Foto de la tienda">
<p class="parrafo">Tiene sus comienzos en el año 1945 cuando Carlos Santana desembarca de Italia y se instala en la cuidad de Buenos Aires con un pequeño comercio de producto de juguetes para niños.

Luego de años de duro trabajo y esfuerzo dan sus resultados y el 1955 consigue su primer local comercial ubicado en una de las esquinas mas emblemáticas de Buenos Aires.</p>
<p class="parrafo">Pasando los años se suman nuevas generaciones y son estas últimas las que producen el crecimiento de expansión de la firma a distintas localidades más importante del pais.

Luego de 30 años de comercializar una amplia variedad de juguetes nos hemos decicido a especializarnos en coleccionables, tanto figuras como vehiculos y asi lograr una expansión a toda latinoamérica.</p>      
<p class="parrafo">Adaptándonos a los tiempos que vienen y a los nuevos sistemas de ventas, estamos desarrollando nuestro departamento de Venta Online lo cual ampliaríamos nuestra oferta a todo el mundo.

En la actualidad juguetería Cósmica comercializa todo los productos de firmas líderes en el mercado y estando siempre a la vanguardia para los nuevos lanzamientos de productos de coleccionables.
</p>

</div>